.rob-reg
  font-family: 'Roboto', sans-serif
  font-weight: 400

.rob-bold
  font-family: 'Roboto', sans-serif
  font-weight: 700

.rob-light
  font-family: 'Roboto', sans-serif
  font-weight: 300

.rob-med
  font-family: 'Roboto', sans-serif
  font-weight: 500


$dark-blue: #163660
$light-blue: #51C1D9
$blue: #33B7D3
$red: #FF3A3A
$black: #000000
$white: #ffffff
$grey: #D8D8D8
$light-grey: #DEDEDE
$dark-grey: #A7A7A7



.main_wrapper
  @extend .rob-reg
  overflow: hidden


.section_header_block
  width: 100%
  height: 75px
  background-color: $white
  text-align: center
  -webkit-box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.16)
  -moz-box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.16)
  box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.16)
  @media screen and (max-width: 750px)
    height: 55px
.section_header
  position: relative
  font-size: 26px
  line-height: 75px
  color: $black
  @media screen and (max-width: 750px)
    line-height: 55px
    font-size: 22px



.price_shadow_block
  width: 100%
  height: auto
  margin-top: 50px
  background-color: $white
  text-align: center
  overflow: hidden
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16)