.main
  position: relative
  width: 100%
  height: 100vh
  @media screen and (max-width: 750px)
    height: auto
  &_block
    position: relative
    width: 100%
    height: 100vh
    @media screen and (max-width: 768px)
      height: 60vh
    @media screen and (max-width: 750px)
      height: 80vh
    &_img
      position: absolute
      bottom: 0
      width: 100%
      height: auto
      @media screen and (max-width: 750px)
        min-height: 80vh
  &_first_btn
    position: relative
    display: inline-block
    width: 300px
    height: 70px
    margin-top: 80px
    margin-right: 8.3333%
    line-height: 68px
    border: 1px solid $dark-blue
    border-radius: 10px
    background-color: $dark-blue
    color: $white
    text-align: center
    font-size: 18px
    float: right
    cursor: pointer
    @media screen and (max-width: 750px)
      width: calc(100% - 30px)
      height: 40px
      line-height: 38px
      margin-right: 15px
      margin-top: 20px
  &_second_btn
    position: relative
    display: inline-block
    width: 300px
    height: 70px
    margin-top: 80px
    margin-right: 24.9999%
    line-height: 68px
    border: 1px solid $light-blue
    border-radius: 10px
    background-color: $light-blue
    color: $white
    text-align: center
    font-size: 18px
    float: right
    cursor: pointer
    @media screen and (max-width: 1440px)
      margin-right: 16.6666%
    @media screen and (max-width: 768px)
      margin-right: 8.3333%
    @media screen and (max-width: 750px)
      width: calc(100% - 30px)
      height: 40px
      line-height: 38px
      margin-right: 15px
      margin-top: 50px
  &_logo_block
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 500px
    height: 300px
    margin-top: 35vh
    background-color: rgba(255, 255, 255, 0.9)
    float: right
    margin-right: 33.3332%
    cursor: pointer
    @media screen and (max-width: 1440px)
      margin-right: 24.9999%
    @media screen and (max-width: 768px)
      width: 400px
      height: 200px
      margin-top: 20%
    @media screen and (max-width: 750px)
      width: calc(100% - 30px)
      height: 180px
      margin-right: 15px
    img
      width: 280px
      @media screen and (max-width: 768px)
        width: 220px
      @media screen and (max-width: 750px)
        width: 170px
  &_sub_block
    position: relative
    width: 100%
    &_blue
      position: absolute
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 100%
      height: 60vh
      top: 0
      left: 0
      background-color: rgba(51, 183, 211, 0.85)
      z-index: 250
      @media screen and (max-width: 768px)
        width: 50%
        height: 40vh
        left: 50%
        z-index: 100
      @media screen and (max-width: 750px)
        position: relative
        width: 100%
        height: 50vh
        min-height: 285px
        left: 0
      &_title
        display: block
        width: calc(100% - 60px)
        margin-bottom: 35px
        font-size: 32px
        color: $white
      &_text
        display: block
        width: calc(100% - 60px)
        font-size: 16px
        color: $white
    &_dark
      position: absolute
      width: 100%
      height: 40vh
      top: 60vh
      left: 0
      z-index: 250
      @media screen and (max-width: 768px)
        width: 50%
        top: 0
        z-index: 100
      @media screen and (max-width: 750px)
        position: relative
        width: 100%
        height: 50vh
        min-height: 285px
      &_slide_viewer
        position: relative
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 40vh
        display: flex
        flex-direction: column
        justify-content: space-between
        &:after
          content: ''
          position: absolute
          display: block
          width: 100%
          height: 100%
          top: 0
          left: 0
          background-color: rgba(0, 0, 0, 0.64)
          z-index: 0
        @media screen and (max-width: 768px)
          width: 100%
        @media screen and (max-width: 750px)
          width: 100%
          height: 50vh
          min-height: 285px

      &_wrapper
        display: flex
        align-items: center
        width: calc(100% - 60px)
        margin-left: 30px
        margin-top: 30px
      &_title
        display: inline-block
        width: calc(100% - 120px)
        margin-right: 15px
        font-size: 24px
        color: $white
        z-index: 251
        @media screen and (max-width: 1440px)
          width: calc(100% - 80px)
        @media screen and (max-width: 750px)
          font-size: 16px
      &_image
        display: inline-block
        width: 100px
        height: 100px
        z-index: 251
        @media screen and (max-width: 1440px)
          width: 80px
          height: 80px
        img
          width: 100%
      &_text
        display: inline-block
        width: calc(100% - 60px)
        margin-left: 30px
        font-size: 16px
        color: $white
        z-index: 251
        margin-bottom: 30px
