@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
.rob-reg, .main_wrapper, .call_popup_registration_form input {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.rob-bold, .price_title, .about_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

.rob-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.rob-med, .about_sub_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

.main_wrapper {
  overflow: hidden; }

.section_header_block {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.16); }
  @media screen and (max-width: 750px) {
    .section_header_block {
      height: 55px; } }

.section_header {
  position: relative;
  font-size: 26px;
  line-height: 75px;
  color: #000000; }
  @media screen and (max-width: 750px) {
    .section_header {
      line-height: 55px;
      font-size: 22px; } }

.price_shadow_block {
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }

.nav_header {
  position: fixed;
  width: 100%;
  height: 95px;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 200; }
  @media screen and (max-width: 768px) {
    .nav_header {
      display: none; } }
  .nav_header_list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px; }
    .nav_header_list .active_item_list {
      position: relative;
      width: auto; }
      .nav_header_list .active_item_list:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -5px;
        background-color: #163660; }
    .nav_header_list li {
      display: inline-block;
      color: #163660;
      font-size: 26px;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        .nav_header_list li {
          font-size: 16px; } }
      .nav_header_list li a {
        text-decoration: none;
        color: #163660; }
    .nav_header_list_btn {
      padding: 8px 13px;
      background-color: #D8D8D8;
      border-radius: 10px; }

.nav_header_mob {
  display: none; }
  @media screen and (max-width: 768px) {
    .nav_header_mob {
      position: fixed;
      display: block;
      width: 100%;
      height: 60px;
      top: 0;
      left: 0;
      z-index: 200; } }
  .nav_header_mob_btn {
    display: inline-block;
    color: #163660;
    font-size: 26px;
    cursor: pointer;
    padding: 8px 16px;
    background-color: #D8D8D8;
    border-radius: 10px;
    margin-top: 9px; }
    @media screen and (max-width: 750px) {
      .nav_header_mob_btn {
        font-size: 16px;
        margin-top: 14px; } }
  .nav_header_mob_burger {
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding-right: 0;
    margin: 0; }
    .nav_header_mob_burger:after {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 22px;
      top: 19px;
      right: 0;
      border-top: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff; }
    .nav_header_mob_burger:before {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 3px;
      top: 28px;
      right: 0;
      background-color: #ffffff; }

.mob_nav_menu_list {
  display: none; }
  @media screen and (max-width: 768px) {
    .mob_nav_menu_list {
      position: fixed;
      display: block;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      z-index: 400;
      overflow: hidden;
      opacity: 0;
      background-color: #ffffff; }
      .mob_nav_menu_list_active {
        height: 50vh; }
      .mob_nav_menu_list_wrapper {
        position: relative;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .mob_nav_menu_list_wrapper li {
          margin-bottom: 15px; }
          .mob_nav_menu_list_wrapper li a {
            text-decoration: none;
            color: #163660;
            font-size: 30px; } }
  .mob_nav_menu_list .active_item_list {
    position: relative;
    width: auto; }
    .mob_nav_menu_list .active_item_list:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -5px;
      background-color: #163660; }
  .mob_nav_menu_list .mob_nav_menu_list_close {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;
    z-index: 220;
    cursor: pointer; }
    .mob_nav_menu_list .mob_nav_menu_list_close img {
      width: 100%; }

.main {
  position: relative;
  width: 100%;
  height: 100vh; }
  @media screen and (max-width: 750px) {
    .main {
      height: auto; } }
  .main_block {
    position: relative;
    width: 100%;
    height: 100vh; }
    @media screen and (max-width: 768px) {
      .main_block {
        height: 60vh; } }
    @media screen and (max-width: 750px) {
      .main_block {
        height: 80vh; } }
    .main_block_img {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto; }
      @media screen and (max-width: 750px) {
        .main_block_img {
          min-height: 80vh; } }
  .main_first_btn {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 70px;
    margin-top: 80px;
    margin-right: 8.3333%;
    line-height: 68px;
    border: 1px solid #163660;
    border-radius: 10px;
    background-color: #163660;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    float: right;
    cursor: pointer; }
    @media screen and (max-width: 750px) {
      .main_first_btn {
        width: calc(100% - 30px);
        height: 40px;
        line-height: 38px;
        margin-right: 15px;
        margin-top: 20px; } }
  .main_second_btn {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 70px;
    margin-top: 80px;
    margin-right: 24.9999%;
    line-height: 68px;
    border: 1px solid #51C1D9;
    border-radius: 10px;
    background-color: #51C1D9;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    float: right;
    cursor: pointer; }
    @media screen and (max-width: 1440px) {
      .main_second_btn {
        margin-right: 16.6666%; } }
    @media screen and (max-width: 768px) {
      .main_second_btn {
        margin-right: 8.3333%; } }
    @media screen and (max-width: 750px) {
      .main_second_btn {
        width: calc(100% - 30px);
        height: 40px;
        line-height: 38px;
        margin-right: 15px;
        margin-top: 50px; } }
  .main_logo_block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    margin-top: 35vh;
    background-color: rgba(255, 255, 255, 0.9);
    float: right;
    margin-right: 33.3332%;
    cursor: pointer; }
    @media screen and (max-width: 1440px) {
      .main_logo_block {
        margin-right: 24.9999%; } }
    @media screen and (max-width: 768px) {
      .main_logo_block {
        width: 400px;
        height: 200px;
        margin-top: 20%; } }
    @media screen and (max-width: 750px) {
      .main_logo_block {
        width: calc(100% - 30px);
        height: 180px;
        margin-right: 15px; } }
    .main_logo_block img {
      width: 280px; }
      @media screen and (max-width: 768px) {
        .main_logo_block img {
          width: 220px; } }
      @media screen and (max-width: 750px) {
        .main_logo_block img {
          width: 170px; } }
  .main_sub_block {
    position: relative;
    width: 100%; }
    .main_sub_block_blue {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60vh;
      top: 0;
      left: 0;
      background-color: rgba(51, 183, 211, 0.85);
      z-index: 250; }
      @media screen and (max-width: 768px) {
        .main_sub_block_blue {
          width: 50%;
          height: 40vh;
          left: 50%;
          z-index: 100; } }
      @media screen and (max-width: 750px) {
        .main_sub_block_blue {
          position: relative;
          width: 100%;
          height: 50vh;
          min-height: 285px;
          left: 0; } }
      .main_sub_block_blue_title {
        display: block;
        width: calc(100% - 60px);
        margin-bottom: 35px;
        font-size: 32px;
        color: #ffffff; }
      .main_sub_block_blue_text {
        display: block;
        width: calc(100% - 60px);
        font-size: 16px;
        color: #ffffff; }
    .main_sub_block_dark {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 40vh;
      top: 60vh;
      left: 0;
      z-index: 250; }
      @media screen and (max-width: 768px) {
        .main_sub_block_dark {
          width: 50%;
          top: 0;
          z-index: 100; } }
      @media screen and (max-width: 750px) {
        .main_sub_block_dark {
          position: relative;
          width: 100%;
          height: 50vh;
          min-height: 285px; } }
      .main_sub_block_dark:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.64); }
      .main_sub_block_dark_wrapper {
        display: flex;
        align-items: center;
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-top: 30px; }
      .main_sub_block_dark_title {
        display: inline-block;
        width: calc(100% - 120px);
        margin-right: 15px;
        font-size: 24px;
        color: #ffffff;
        z-index: 251; }
        @media screen and (max-width: 1440px) {
          .main_sub_block_dark_title {
            width: calc(100% - 80px); } }
        @media screen and (max-width: 750px) {
          .main_sub_block_dark_title {
            font-size: 16px; } }
      .main_sub_block_dark_image {
        display: inline-block;
        width: 100px;
        height: 100px;
        z-index: 251; }
        @media screen and (max-width: 1440px) {
          .main_sub_block_dark_image {
            width: 80px;
            height: 80px; } }
        .main_sub_block_dark_image img {
          width: 100%; }
      .main_sub_block_dark_text {
        display: inline-block;
        width: calc(100% - 60px);
        margin-left: 30px;
        font-size: 16px;
        color: #ffffff;
        z-index: 251;
        margin-bottom: 30px; }

.layout {
  position: relative;
  width: 100%;
  margin-top: 80px; }
  .layout_row {
    display: none;
    transform: scale(0);
    transition: all 1s; }
  .layout_btn {
    display: inline-block;
    cursor: pointer;
    line-height: 60px;
    height: 60px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 80px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #D8D8D8;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .layout_btn_active {
      border: 2px solid #707070;
      line-height: 58px; }
    .layout_btn:hover {
      background-color: #F7F7F7; }
  .layout_main {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    padding-top: calc(60% + 60px); }
    .layout_main_wrapper {
      position: absolute;
      top: 60px;
      width: 100%;
      height: 100%;
      transform: scale(0);
      transition: all 1s; }
      .layout_main_wrapper img {
        transform: scale(0);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s; }
  .layout_stage {
    width: 50%;
    position: absolute;
    right: calc(-50% - 30px);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .layout_stage {
        right: -35%; } }
    .layout_stage_position {
      display: block;
      border: 2px solid #707070;
      height: 29px;
      line-height: 27px;
      text-align: center;
      width: 80px;
      margin-bottom: 10px;
      font-size: 16px;
      position: relative;
      z-index: 2;
      cursor: pointer; }
      .layout_stage_position:hover {
        background-color: #A2E2E2; }
      .layout_stage_position_active {
        background-color: #D8D8D8;
        color: white; }
    .layout_stage_up {
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 40px solid white;
      margin-bottom: 10px;
      position: relative;
      cursor: pointer; }
      .layout_stage_up:hover {
        border-bottom: 40px solid #A2E2E2; }
      .layout_stage_up:before {
        content: "";
        border: 3px solid #707070;
        border-right: none;
        border-bottom: none;
        border-radius: 3px;
        width: 60px;
        height: 60px;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: -30px;
        transform: rotate(45deg); }
      .layout_stage_up:after {
        content: "";
        width: 80px;
        height: 3px;
        background-color: #707070;
        display: block;
        position: absolute;
        bottom: -41.5px;
        left: -40px;
        border-radius: 3px; }
    .layout_stage_down {
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 40px solid white;
      margin-top: 0;
      position: relative;
      cursor: pointer; }
      .layout_stage_down:hover {
        border-top: 40px solid #A2E2E2; }
      .layout_stage_down:before {
        content: "";
        border: 3px solid #707070;
        border-left: none;
        border-top: none;
        border-radius: 3px;
        width: 60px;
        height: 60px;
        position: absolute;
        z-index: 1;
        bottom: 10px;
        left: -30px;
        transform: rotate(45deg); }
      .layout_stage_down:after {
        content: "";
        width: 80px;
        height: 3px;
        background-color: #707070;
        display: block;
        position: absolute;
        top: -41.5px;
        left: -40px;
        border-radius: 3px; }

.plans_wrapper {
  width: 100%;
  transform: scale(0);
  opacity: 0;
  padding-top: 80px;
  position: absolute;
  top: 0;
  left: 15px;
  transition: all 1s; }
.plans_img {
  width: 100%;
  display: block; }
  .plans_img img {
    width: 100%;
    height: auto; }
.plans_row {
  transform: scale(0);
  opacity: 0;
  transition: all 1s; }

.section_block {
  display: none;
  transform: scale(0);
  transition: all 1s; }

.unscale_slide {
  display: flex !important;
  transform: scale(1) !important;
  opacity: 1; }

.unscale_block {
  display: block !important;
  transform: scale(1) !important; }

.price {
  position: relative;
  width: 100%;
  margin-top: 145px; }
  .price_title {
    display: inline-block;
    font-size: 18px;
    line-height: 70px;
    color: #000000;
    padding-left: 20px; }
    @media screen and (max-width: 768px) {
      .price_title {
        font-size: 12px;
        line-height: 50px;
        padding-left: 0; } }
  .price_wrapper {
    position: relative;
    width: 100%;
    height: auto; }
  .price .mob_price_title {
    display: none; }
    @media screen and (max-width: 750px) {
      .price .mob_price_title {
        position: relative;
        display: block;
        font-size: 16px;
        font-weight: 700; }
        .price .mob_price_title:after {
          content: url(../img/icon/arrow-down.png);
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 20px;
          height: 13px;
          -webkit-transition: all 0.6s;
          -o-transition: all 0.6s;
          transition: all 0.6s; } }
  .price .mob_price_title_open:after {
    bottom: -2px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .price_sub_title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding-top: 50px; }
    @media screen and (max-width: 768px) {
      .price_sub_title {
        font-size: 12px; } }
    @media screen and (max-width: 750px) {
      .price_sub_title {
        font-size: 14px;
        display: inline-block;
        padding-top: 5px; } }
  .price_text_block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .price_text {
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
    width: auto;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .price_text {
        font-size: 12px; } }
    .price_text u {
      text-decoration: none;
      display: inline-block;
      width: auto;
      position: relative; }
      .price_text u:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #FF3A3A;
        left: 0;
        bottom: 10px; }
    .price_text span {
      color: #FF3A3A; }
  .price_line {
    position: relative; }
    .price_line:after {
      content: "";
      position: absolute;
      display: block;
      width: 700%;
      height: 1px;
      background-color: #D8D8D8;
      bottom: 0;
      left: 0; }
  .price_info {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 70px; }
    @media screen and (max-width: 768px) {
      .price_info {
        font-size: 14px;
        line-height: 50px; } }

.shadow {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }

.fix_line {
  position: relative;
  width: 100%; }
  .fix_line:after {
    content: "";
    position: absolute;
    display: block;
    width: 130%;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    z-index: 1; }

.other {
  position: relative;
  width: 100%;
  margin-top: 120px; }
  .other_wrapper {
    width: 100%;
    height: 185px;
    background-color: rgba(51, 183, 211, 0.85); }
    @media screen and (max-width: 750px) {
      .other_wrapper {
        width: 130%;
        margin-left: -15%; } }
  .other_text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 185px;
    font-size: 36px;
    color: #ffffff; }
    @media screen and (max-width: 750px) {
      .other_text {
        font-size: 20px;
        padding: 0 15px;
        text-align: center;
        margin-left: 30px; } }
  .other_btn_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 185px; }
    @media screen and (max-width: 750px) {
      .other_btn_wrapper {
        height: auto;
        background-color: rgba(51, 183, 211, 0.85);
        padding-bottom: 30px; } }
  .other_btn {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 58px;
    font-size: 16px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }
    @media screen and (max-width: 750px) {
      .other_btn {
        width: calc(100% - 30px);
        margin-left: 15px; } }

.about {
  position: relative;
  width: 100%;
  margin-top: 120px; }
  .about_title {
    font-size: 18px;
    margin-top: 50px; }
  .about_text {
    margin-top: 15px; }
    .about_text p {
      font-size: 14px;
      margin-top: 15px; }
  .about_sub_title {
    font-size: 16px;
    margin-top: 50px; }
  .about_list li {
    font-size: 14px;
    margin-top: 15px;
    text-indent: 30px;
    list-style-type: disc;
    list-style-position: inside; }
  .about_image {
    width: 100%;
    margin-top: 40px; }
    .about_image img {
      width: 100%;
      max-height: 780px; }
  .about_image_mob {
    display: none; }
    @media screen and (max-width: 750px) {
      .about_image_mob {
        display: block;
        width: 100%;
        margin-top: 40px; }
        .about_image_mob img {
          width: 100%;
          max-height: 780px; } }

.location {
  position: relative;
  width: 100%;
  margin-top: 120px; }
  .location_wrapper {
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.16); }
    .location_wrapper .section_header {
      text-align: left;
      margin-left: 30px; }
    .location_wrapper_list {
      position: relative;
      width: 100%;
      display: inline-block;
      text-align: left;
      list-style: none; }
      .location_wrapper_list .active_location_point {
        text-decoration: underline; }
      .location_wrapper_list li {
        font-size: 12px;
        margin-top: 10px;
        margin-left: 30px;
        cursor: pointer; }
  .location_map {
    position: relative;
    width: 100%; }
    .location_map img {
      position: absolute;
      display: block;
      width: auto;
      max-height: 620px;
      top: 0;
      left: 0; }
      @media screen and (max-width: 768px) {
        .location_map img {
          max-height: 750px; } }
  .location .mob_location_map {
    display: none; }
    @media screen and (max-width: 750px) {
      .location .mob_location_map {
        display: block;
        position: relative;
        width: 100%; }
        .location .mob_location_map img {
          width: 100%; } }

.contact {
  position: relative;
  width: 100%;
  margin-top: 120px; }
  @media screen and (max-width: 750px) {
    .contact .section_header {
      margin-top: 30px; } }
  .contact_list {
    margin-top: 50px; }
    .contact_list li {
      margin-top: 15px; }
      .contact_list li img {
        display: inline-block;
        width: 25px;
        max-height: 20px;
        margin-right: 15px; }
    .contact_list_text {
      display: inline-block;
      font-size: 16px;
      color: #000000; }
  .contact_logo {
    width: 100%; }
    .contact_logo img {
      width: 100%; }
  .contact .col-fix {
    padding: 0; }
  .contact_form {
    margin-top: 50px; }
    .contact_form input {
      display: inline-block;
      width: 100%;
      height: 60px;
      font-size: 14px;
      line-height: 60px;
      border: none;
      border-bottom: 1px solid #DEDEDE;
      color: #A7A7A7;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .contact_form input::-moz-placeholder {
      color: #A7A7A7; }
    .contact_form input::-webkit-input-placeholder {
      color: #A7A7A7; }
    .contact_form input:-ms-input-placeholder {
      color: #A7A7A7; }
    .contact_form input::-ms-input-placeholder {
      color: #A7A7A7; }
    .contact_form input::placeholder {
      color: #A7A7A7; }
    .contact_form input:focus::placeholder {
      color: #000000;
      outline: none; }
    .contact_form_btn {
      display: block;
      width: 100%;
      height: 60px;
      text-align: center;
      font-size: 16px;
      line-height: 58px;
      color: #000000;
      border-radius: 10px;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      margin-top: 20px;
      cursor: pointer;
      -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .contact_form_btn:hover {
        background-color: #D8D8D8;
        border: 1px solid #707070; }

.footer {
  position: relative;
  width: 100%;
  height: 185px;
  margin-top: 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.16); }
  @media screen and (max-width: 750px) {
    .footer {
      height: 265px; } }
  .footer_logo {
    display: flex;
    align-items: center;
    width: 140px;
    height: 185px; }
    @media screen and (max-width: 750px) {
      .footer_logo {
        width: 100%;
        justify-content: center; } }
    .footer_logo img {
      width: 100%; }
      @media screen and (max-width: 750px) {
        .footer_logo img {
          width: 140px; } }
  .footer_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 185px; }
    .footer_menu li {
      font-size: 18px;
      color: #000000; }
      .footer_menu li a {
        color: #000000;
        text-decoration: none; }
  .footer_social {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 185px; }
    @media screen and (max-width: 750px) {
      .footer_social {
        height: auto; } }
    .footer_social_block {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;
      text-decoration: none; }
      .footer_social_block img {
        width: 40px; }
        @media screen and (max-width: 768px) {
          .footer_social_block img {
            width: 30px; } }
      .footer_social_block_text {
        display: inline-block;
        margin-top: 10px;
        font-size: 16px;
        color: #A7A7A7; }
        @media screen and (max-width: 768px) {
          .footer_social_block_text {
            font-size: 12px; } }

.call_popup {
  position: fixed;
  display: block;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 410;
  overflow: hidden;
  opacity: 0; }
  .call_popup_active {
    height: 100vh; }
  .call_popup:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.83); }
  @media screen and (max-width: 750px) {
    .call_popup .container {
      padding: 0; } }
  .call_popup_wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 15vh;
    overflow: hidden;
    z-index: 1; }
    @media screen and (max-width: 750px) {
      .call_popup_wrapper {
        height: 100vh;
        margin-top: 0; } }
    .call_popup_wrapper .call_popup_close {
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      top: 20px;
      right: 20px;
      z-index: 220;
      cursor: pointer; }
      .call_popup_wrapper .call_popup_close img {
        width: 100%; }
  .call_popup_registration {
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 1;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 120px; }
    @media screen and (max-width: 750px) {
      .call_popup_registration {
        padding-left: 0;
        padding-right: 0;
        height: 100vh; } }
    .call_popup_registration_header {
      font-size: 80px;
      color: #A7A7A7;
      padding-top: 50px;
      text-align: center; }
      @media screen and (max-width: 750px) {
        .call_popup_registration_header {
          font-size: 60px;
          padding-top: 80px; } }
    .call_popup_registration_image {
      display: block;
      width: 50px;
      height: 50px;
      margin: 35px auto 0 auto; }
      .call_popup_registration_image img {
        width: 100%; }
    .call_popup_registration_form {
      position: relative;
      width: 85%;
      margin-top: 10px; }
      @media screen and (max-width: 750px) {
        .call_popup_registration_form {
          width: 100%;
          margin-left: 15px; } }
      .call_popup_registration_form input {
        width: 100%;
        height: 35px;
        font-size: 14px;
        color: #A7A7A7;
        margin-top: 20px;
        border: none;
        border-bottom: 1px solid #DEDEDE;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-indent: 10px; }
        @media screen and (max-width: 750px) {
          .call_popup_registration_form input {
            width: calc(100% - 30px); } }
      .call_popup_registration_form input::-moz-placeholder {
        color: #A7A7A7; }
      .call_popup_registration_form input::-webkit-input-placeholder {
        color: #A7A7A7; }
      .call_popup_registration_form input:-ms-input-placeholder {
        color: #A7A7A7; }
      .call_popup_registration_form input::-ms-input-placeholder {
        color: #A7A7A7; }
      .call_popup_registration_form input::placeholder {
        color: #A7A7A7; }
      .call_popup_registration_form input:focus::placeholder {
        color: #000000;
        outline: none; }
    .call_popup_registration_btn {
      display: block;
      width: 100%;
      height: 60px;
      text-align: center;
      font-size: 14px;
      line-height: 58px;
      color: #000000;
      border-radius: 10px;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      margin-top: 50px;
      cursor: pointer;
      -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      @media screen and (max-width: 750px) {
        .call_popup_registration_btn {
          width: calc(100% - 30px); } }
      .call_popup_registration_btn:hover {
        background-color: #D8D8D8;
        border: 1px solid #707070; }

/*# sourceMappingURL=style.css.map */
