.open-reg
  font-family: 'OpenSans', sans-serif
  font-weight: 400

.open-bold
  font-family: 'OpenSans', sans-serif
  font-weight: 700

.open-semi
  font-family: 'OpenSans', sans-serif
  font-weight: 600

.open-light
  font-family: 'OpenSans', sans-serif
  font-weight: 300
.open-it
  font-family: 'OpenSans', sans-serif
  font-weight: 400
  font-style: italic
.open-extra
  font-family: 'OpenSans', sans-serif
  font-weight: 900
.rel-bold
  font-family: 'Raleway', sans-serif
  font-weight: 700


$blue: #41C4DC
$light-blue: #CEF7FF
$dark-blue: #25A6BE
$black: #000000
$dark-grey: #272727
$white: #ffffff
$purple: #5B73BF




.main_wrapper
  @extend .open-reg
  overflow: hidden
  .container-fluid
    width: 90vw
    margin-left: 5vw


.btn
  display: block
  width: 100%
  height: 50px
  line-height: 46px
  @extend .open-reg
  color: $white
  font-size: 18px
  text-align: center
  border-radius: 30px
  border: 2px solid $blue
  background-color: $blue
  cursor: pointer
  text-decoration: none
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  @media screen and (max-width: 1440px)
    height: 45px
    line-height: 43px
    font-size: 16px
  @media screen and (max-width: 420px)
    font-size: 14px
  &:hover
    border: 2px solid $dark-blue
    background-color: $dark-blue

.light_btn
  display: block
  width: 100%
  height: 50px
  line-height: 46px
  @extend .open-reg
  color: $black
  font-size: 18px
  text-align: center
  border-radius: 30px
  border: 2px solid $blue
  background-color: inherit
  cursor: pointer
  text-decoration: none
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  @media screen and (max-width: 1440px)
    height: 45px
    line-height: 43px
    font-size: 16px
  @media screen and (max-width: 420px)
    font-size: 14px
  &:hover
    border: 2px solid $light-blue
    background-color: $light-blue
    color: $black


.section_header
  position: relative
  display: inline-block
  width: auto
  @extend .open-semi
  font-size: 44px
  color: $dark-grey
  border: 2px solid $blue
  border-radius: 10px 10px 10px 0
  padding: 10px 40px
  //margin-bottom: 35px
  @media screen and (max-width: 1440px)
    font-size: 32px
  @media screen and (max-width: 420px)
    font-size: 24px
    padding: 10px 25px
  &:after
    content: ''
    position: absolute
    display: block
    width: 200%
    height: 2px
    bottom: -2px
    left: -120%
    background-color: $blue
