.contact_main
  position: relative
  width: 100%
  margin-top: 140px
  padding-bottom: 80px
  @media screen and (max-width: 1440px)
    margin-top: 100px
  @media screen and (max-width: 420px)
    padding-bottom: 30px
  &_map
    position: absolute
    width: 40%
    height: calc(100vh - 320px)
    display: block
    top: 0
    left: 0
    @media screen and (max-width: 780px)
      position: relative
      width: 100%
      height: 450px
    @media screen and (max-width: 420px)
      height: 250px
  &_header
    @extend .open-light
    font-size: 54px
    text-align: center
    @media screen and (max-width: 1440px)
      font-size: 44px
    @media screen and (max-width: 780px)
      margin-top: 30px
    @media screen and (max-width: 420px)
      font-size: 32px
  &_adress
    position: relative
    @extend .open-reg
    font-size: 18px
    line-height: 27px
    margin-top: 50px
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
    @media screen and (max-width: 780px)
      margin-top: 30px
    @media screen and (max-width: 420px)
      margin-top: 15px
    &_decor
      position: absolute
      width: 80px
      top: -15px
      left: -90px
      @media screen and (max-width: 780px)
        left: 0
      @media screen and (max-width: 420px)
        width: 50px
        top: 0
      img
        width: 100%
  &_wrapper
    @media screen and (max-width: 780px)
      display: flex
      margin-top: 60px
    @media screen and (max-width: 420px)
      display: block
      margin-top: 0
  &_tel
    position: relative
    @extend .open-reg
    font-size: 18px
    line-height: 27px
    margin-top: 70px
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
    @media screen and (max-width: 780px)
      margin-top: 0
      margin-right: 30px
    @media screen and (max-width: 420px)
      margin-top: 15px
      margin-right: 0
    &_decor
      position: absolute
      width: 80px
      top: -15px
      left: -90px
      @media screen and (max-width: 780px)
        left: 0
      @media screen and (max-width: 420px)
        width: 50px
        top: 0
        left: calc(50% - 25px)
      img
        width: 100%
  &_email
    position: relative
    @extend .open-reg
    font-size: 18px
    line-height: 27px
    margin-top: 55px
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
    @media screen and (max-width: 780px)
      margin-top: 0
      margin-right: 30px
    @media screen and (max-width: 420px)
      margin-top: 15px
      margin-right: 0
    &_decor
      position: absolute
      width: 80px
      top: -15px
      left: -90px
      @media screen and (max-width: 780px)
        left: 0
      @media screen and (max-width: 420px)
        width: 50px
        top: 0
      img
        width: 100%
  &_time
    position: relative
    @extend .open-reg
    font-size: 18px
    line-height: 27px
    margin-top: 100px
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
    @media screen and (max-width: 780px)
      margin-top: 0
      margin-right: 30px
    @media screen and (max-width: 420px)
      margin-top: 15px
      margin-right: 0
    &_decor
      position: absolute
      width: 80px
      top: -15px
      left: -90px
      @media screen and (max-width: 780px)
        left: 0
      @media screen and (max-width: 420px)
        width: 50px
        top: 0
        left: calc(50% - 25px)
      img
        width: 100%
  &_form_title
    font-size: 24px
    text-transform: uppercase
    margin-top: 50px
    text-align: center
  &_form
    position: relative
    display: block
    width: 100%
    textarea
      width: 100%
      height: 160px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      outline: none
      resize: none
      overflow-y: auto
      font-size: 16px
      @extend .open-reg
      color: rgba(0, 0, 0, 1)
      border: 1px solid $blue
      border-radius: 10px
      margin-top: 50px
      padding: 20px
      @media screen and (max-width: 780px)
        width: 48%
        height: 120px
        margin-top: 20px
        float: right
      @media screen and (max-width: 420px)
        width: 100%
        float: inherit
    &_btn
      margin-top: 40px
      @media screen and (max-width: 780px)
        width: 60%
        margin-left: 20%
      @media screen and (max-width: 420px)
        width: 100%
        margin-left: 0
        margin-top: 30px
  &_input_wrapper
    @media screen and (max-width: 780px)
      width: 48%
      display: inline-block
    @media screen and (max-width: 420px)
      width: 100%
    input
      width: 100%
      height: 50px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      outline: none
      font-size: 16px
      text-indent: 20px
      color: rgba(0, 0, 0, 1)
      border: 1px solid $blue
      border-radius: 10px
      margin-top: 20px
    input::-moz-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-webkit-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input:-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::placeholder
      color: rgba(0, 0, 0, 0.5)
    input:focus::placeholder
      color: rgba(0, 0, 0, 0.5)
      outline: none
