.footer
  position: relative
  width: 100%
  background-repeat: no-repeat
  -webkit-background-size: cover
  background-size: cover
  margin-top: 70px
  @media screen and (max-width: 420px)
    margin-top: 50px
  &_text
    font-size: 16px
    line-height: 24px
    color: $black
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
  &_contact
    font-size: 16px
    line-height: 24px
    color: $black
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
    @media screen and (max-width: 780px)
      margin-top: 20px
  &_social
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: 45px
    @media screen and (max-width: 780px)
      margin-top: 20px
    a
      text-decoration: none
      width: 40px
      height: 40px
      @media screen and (max-width: 1440px)
        width: 30px
        height: 30px
      img
        width: 100%
  &_menu_wrapper
    position: relative
    width: 100%
    margin-top: 40px
    @media screen and (max-width: 780px)
      padding-bottom: 50px
    &:after
      content: ''
      position: absolute
      width: 200%
      height: 1px
      top: -20px
      left: 0
      background-color: $purple
      opacity: 0.2
  &_copy
    position: relative
    width: auto
    display: inline-block
    font-size: 16px
    @extend .open-light
    color: $dark-grey
    opacity: 0.75
    margin-top: 20px
    margin-bottom: 50px
    margin-right: 20px
    @media screen and (max-width: 1440px)
      font-size: 14px
    @media screen and (max-width: 780px)
      margin-top: 20px
      margin-bottom: 0
    &:after
      content: ''
      position: absolute
      width: 1px
      height: 15px
      right: -13px
      top: 0
      background-color: $black
      opacity: 0.5
  .footer_menu li:first-child
    position: relative
    &:after
      content: ''
      position: absolute
      width: 1px
      height: 15px
      right: -13px
      top: 0
      background-color: $black
      opacity: 0.5
  &_menu
    width: auto
    display: inline-block
    //justify-content: space-between
    margin-top: 20px
    li
      display: inline-block
      width: auto
      margin-right: 20px
    a
      font-size: 16px
      text-decoration: none
      color: $dark-grey
      @extend .open-light
      opacity: 0.75
      @media screen and (max-width: 1440px)
        font-size: 14px
  &_form
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
    @media screen and (max-width: 780px)
      margin-top: 20px
    label
      position: absolute
      width: 50%
      top: 0
      left: 0
      font-size: 16px
      @extend .open-light
      color: $dark-grey
      opacity: 0.75
      @media screen and (max-width: 1440px)
        font-size: 14px
    input
      position: relative
      display: inline-block
      width: 48%
      height: 25px
      margin-top: 25px
      font-size: 16px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      outline: none
      border: none
      border-bottom: 2px solid rgba(39, 39, 39, 0.75)
      background-color: inherit
      @media screen and (max-width: 1440px)
        font-size: 14px
        height: 20px
    &_btn
      width: 48%