.main
  position: relative
  width: 100%
  height: 100vh
  &_slide
    position: relative
    width: 100%
    height: calc(100vh - 60px)
    background-repeat: no-repeat
    -webkit-background-size: cover
    background-size: cover
    @media screen and (max-width: 420px)
      background-position: center
    .filter
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: linear-gradient(90deg, rgba(63, 70, 75, 0.7), rgba(13, 14, 15, 0))
  .main_next_arrow
    position: absolute
    display: block
    width: auto
    bottom: -30px
    right: calc(5vw + 20px)
    cursor: pointer
    &:after
      content: ''
      position: absolute
      width: 10px
      height: 1px
      top: 5px
      right: -20px
      background-color: $black
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
      opacity: 0.75
    &:before
      content: ''
      position: absolute
      width: 10px
      height: 1px
      bottom: 4px
      right: -20px
      background-color: $black
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -ms-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)
      opacity: 0.75
  .main_prev_arrow
    position: absolute
    display: block
    width: auto
    bottom: -30px
    right: calc(6vw + 100px)
    cursor: pointer
  .slick-dots li:last-child:after
      width: 0
  .slick-dots
    position: absolute
    display: flex
    bottom: -30px
    left: 10vw
    .slick-active
      position: relative
      margin-right: 90px
      &:after
        content: ''
        position: absolute
        display: block
        width: 70px
        height: 1px
        bottom: 0
        right: -80px
        background-color: $blue
    li
      margin-right: 20px
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
      &:after
        content: ''
        position: absolute
        display: none
        width: 0
        height: 1px
        bottom: 0
        right: -80px
        background-color: $blue
        -webkit-transition: all 0.6s
        -moz-transition: all 0.6s
        -ms-transition: all 0.6s
        -o-transition: all 0.6s
        transition: all 0.6s
  &_text
    display: inline-block
    width: 100%
    @extend .open-it
    color: $white
    font-size: 18px
    opacity: 0.85
    margin-top: 35vh
    @media screen and (max-width: 420px)
      font-size: 16px
  &_header
    display: inline-block
    width: 100%
    @extend .open-semi
    font-size: 50px
    color: $white
    margin-top: 50px
    @media screen and (max-width: 420px)
      font-size: 36px
  &_sub_header
    display: inline-block
    width: 100%
    @extend .open-light
    font-size: 24px
    color: $white
    margin-top: 10px
    @media screen and (max-width: 420px)
      font-size: 20px
  &_btn
    margin-top: 50px
  &_media_wrapper
    position: fixed
    display: block
    background-color: $white
    border-radius: 50%
    border: 0.5px solid rgba(0,0,0,0.16)
    width: 80px
    height: 80px
    bottom: 100px
    right: 25px
    z-index: 20
    cursor: pointer
    box-shadow: 0 0 33px rgba(0,0,0,0.16)
    //-webkit-transform: translateZ(0)
    //transform: translateZ(0)
    //&:hover
    //  .main_media_wrapper_first
    //    opacity: 1
    //    z-index: 20
    //    top: -60px
    //    right: 15px
    //  .main_media_wrapper_second
    //    opacity: 1
    //    z-index: 20
    //    top: -40px
    //    right: 70px
    //  .main_media_wrapper_third
    //    opacity: 1
    //    z-index: 20
    //    top: 15px
    //    right: 90px
    .main_media_wrapper_dots
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      width: 50px
      height: 80px
      margin-left: 15px
      .main_media_wrapper_dot
        width: 10px
        height: 10px
        border: 2px solid $black
        border-radius: 50%
    .main_media_wrapper_first
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      width: 50px
      height: 50px
      background-color: $white
      border-radius: 50%
      right: 15px
      top: 10px
      text-decoration: none
      z-index: -1
      opacity: 0
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
      img
        width: 30px
        margin-left: 10px
      &_text
        position: absolute
        color: $white
        -webkit-text-stroke: 0.5px black
        top: -50%
        text-shadow: $black 0 0 0.5px
    .main_media_wrapper_second
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      width: 50px
      height: 50px
      background-color: $white
      border-radius: 50%
      right: 0
      top: 0
      text-decoration: none
      z-index: -1
      opacity: 0
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
      img
        width: 30px
        margin-left: 10px
      &_text
        position: absolute
        color: $white
        -webkit-text-stroke: 0.5px black
        left: -170%
        text-shadow: $black 0 0 0.5px
    .main_media_wrapper_third
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      width: 50px
      height: 50px
      background-color: $white
      border-radius: 50%
      right: 10px
      top: 10px
      text-decoration: none
      z-index: -1
      opacity: 0
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
      img
        width: 30px
      &_text
        position: absolute
        color: $white
        -webkit-text-stroke: 0.5px black
        left: -170%
        text-shadow: $black 0 0 0.5px
  &_block
    position: absolute
    width: calc(100% - 10vw)
    bottom: 90px
    left: 5vw
    @media screen and (max-width: 420px)
      display: none
    .row
      align-items: flex-end
    &_product
      position: relative
      display: inline-block
      width: 100%
      height: 10vh
      min-height: 170px
      overflow: hidden
      border-radius: 10px
      text-decoration: none
      background-repeat: no-repeat
      -webkit-background-size: cover
      background-size: cover
      background-position: center
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
      @media screen and (max-width: 1440px)
        min-height: 150px
      &:hover
        min-height: 340px
        @media screen and (max-width: 1440px)
          min-height: 300px
      &_title
        position: absolute
        display: block
        width: auto
        bottom: 20px
        left: 20px
        @extend .rel-bold
        font-size: 32px
        color: $white
        z-index: 2
        @media screen and (max-width: 1440px)
          font-size: 28px
      .filter
        position: absolute
        display: block
        width: 100%
        height: 100px
        bottom: 0
        left: 0
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.7))
  .slick-dots
    @media screen and (max-width: 420px)
      display: none !important