.popup_nav_menu
  position: fixed
  display: block
  width: 100%
  height: calc(100vh - 110px)
  top: 110px
  right: -100%
  opacity: 0
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  z-index: 25
  @media screen and (max-width: 1440px)
    height: calc(100vh - 70px)
    top: 70px
  &_active
    //height: calc(100vh - 110px)
    right: 0
    opacity: 1
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -ms-transition: all 0.6s
    -o-transition: all 0.6s
    transition: all 0.6s
  &_wrapper
    position: relative
    width: 100%
    height: calc(100vh - 110px)
    background-color: $white
    padding-left: 20%
    @media screen and (max-width: 1440px)
      height: calc(100vh - 70px)
    @media screen and (max-width: 420px)
      padding-left: 10%
  &_list
    li:nth-child(-n+4) a
      @extend .open-semi
    li
      padding-top: 20px
      @media screen and (max-width: 1440px)
        padding-top: 15px
      @media screen and (max-width: 420px)
        padding-top: 10px
      a
        @extend .open-reg
        font-size: 20px
        color: $black
        text-decoration: none
        @media screen and (max-width: 1440px)
          font-size: 16px
  &_sub_list
    li
      padding-top: 20px
      margin-left: 10px
      @media screen and (max-width: 1440px)
        padding-top: 10px
      @media screen and (max-width: 420px)
        padding-top: 10px
      a
        font-weight: 300 !important
        font-size: 20px
        color: $black
        text-decoration: none
        padding-top: 20px
        @media screen and (max-width: 1440px)
          font-size: 14px
  &_social
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 45px
    bottom: 5%
    @media screen and (max-width: 420px)
      justify-content: flex-end
    li
      width: 40px
      height: 40px
      margin: 0 12px
      a
        text-decoration: none
        @media screen and (max-width: 1440px)
          width: 30px
          height: 30px
        img
          width: 100%





.popup_details
  position: fixed
  display: none
  width: 100%
  height: calc(40vh - 110px)
  top: -100%
  left: 0
  opacity: 0
  background-color: $white
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  z-index: 25
  @media screen and (max-width: 1440px)
    height: calc(35vh - 70px)
    top: 70px
    min-height: 210px
  @media screen and (max-width: 420px)
    height: calc(100vh - 70px)
  &_active
    display: block
    top: 110px
    opacity: 1
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -ms-transition: all 0.6s
    -o-transition: all 0.6s
    transition: all 0.6s
    @media screen and (max-width: 1440px)
      top: 70px
  &_header
    @extend .open-light
    font-size: 54px
    margin-top: 40px
    color: $blue
    @media screen and (max-width: 1440px)
      font-size: 44px
      margin-top: 30px
    @media screen and (max-width: 420px)
      font-size: 28px
  &_form
    margin-top: 40px
    @media screen and (max-width: 1440px)
      margin-top: 30px
    input
      width: 100%
      height: 30px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      outline: none
      font-size: 14px
      text-indent: 10px
      color: rgba(0, 0, 0, 1)
      border: none
      border-bottom: 1px solid $blue
      margin-top: 20px
      @media screen and (max-width: 1440px)
        margin-top: 15px
    input::-moz-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-webkit-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input:-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::placeholder
      color: rgba(0, 0, 0, 0.5)
    input:focus::placeholder
      color: rgba(0, 0, 0, 0.5)
      outline: none
    &_btn
      @media screen and (max-width: 420px)
        margin-top: 40px
  &_close
    position: absolute
    display: block
    width: 50px
    height: 100px
    top: 0
    right: 5vw
    overflow: hidden
    cursor: pointer
    padding-right: 0
    margin: 0
    z-index: 30
    @media screen and (max-width: 1440px)
      height: 70px
    &:after
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 22px
      border-top: 3px solid $black
      border-bottom: 3px solid $black
      transition: all 0.5s
      transform: rotate(45deg)
      border-top: none
      right: -7px
      top: 38px
      @media screen and (max-width: 1440px)
        top: 19px
      @media screen and (max-width: 768px)
        right: -8px
    &:before
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 3px
      top: 55px
      right: 0
      background-color: $black
      transition: all 0.5s
      transform: rotate(-45deg)
      @media screen and (max-width: 1440px)
        top: 35px






.popup_consultation
  position: fixed
  display: none
  width: 100%
  height: calc(40vh - 110px)
  top: -100%
  left: 0
  opacity: 0
  background-color: $white
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  z-index: 25
  @media screen and (max-width: 1440px)
    height: calc(35vh - 70px)
    top: 70px
    min-height: 210px
  @media screen and (max-width: 420px)
    height: calc(100vh - 70px)
  &_active
    display: block
    top: 110px
    opacity: 1
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -ms-transition: all 0.6s
    -o-transition: all 0.6s
    transition: all 0.6s
    @media screen and (max-width: 1440px)
      top: 70px
  &_header
    @extend .open-light
    font-size: 54px
    margin-top: 40px
    color: $blue
    @media screen and (max-width: 1440px)
      font-size: 44px
      margin-top: 30px
    @media screen and (max-width: 420px)
      font-size: 28px
  &_form
    margin-top: 40px
    @media screen and (max-width: 1440px)
      margin-top: 30px
    input
      width: 100%
      height: 30px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      outline: none
      font-size: 14px
      text-indent: 10px
      color: rgba(0, 0, 0, 1)
      border: none
      border-bottom: 1px solid $blue
      margin-top: 20px
      @media screen and (max-width: 1440px)
        margin-top: 15px
    input::-moz-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-webkit-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input:-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::placeholder
      color: rgba(0, 0, 0, 0.5)
    input:focus::placeholder
      color: rgba(0, 0, 0, 0.5)
      outline: none
    &_btn
      @media screen and (max-width: 420px)
        margin-top: 40px
  &_close
    position: absolute
    display: block
    width: 50px
    height: 100px
    top: 0
    right: 5vw
    overflow: hidden
    cursor: pointer
    padding-right: 0
    margin: 0
    z-index: 30
    @media screen and (max-width: 1440px)
      height: 70px
    &:after
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 22px
      border-top: 3px solid $black
      border-bottom: 3px solid $black
      transition: all 0.5s
      transform: rotate(45deg)
      border-top: none
      right: -7px
      top: 38px
      @media screen and (max-width: 1440px)
        top: 19px
      @media screen and (max-width: 768px)
        right: -8px
    &:before
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 3px
      top: 55px
      right: 0
      background-color: $black
      transition: all 0.5s
      transform: rotate(-45deg)
      @media screen and (max-width: 1440px)
        top: 35px





.popup_price
  position: fixed
  display: none
  width: 100%
  height: calc(40vh - 110px)
  top: -100%
  left: 0
  opacity: 0
  background-color: $white
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  z-index: 25
  @media screen and (max-width: 1440px)
    height: calc(35vh - 70px)
    top: 70px
    min-height: 210px
  @media screen and (max-width: 420px)
    height: calc(100vh - 70px)
  &_active
    display: block
    top: 110px
    opacity: 1
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -ms-transition: all 0.6s
    -o-transition: all 0.6s
    transition: all 0.6s
    @media screen and (max-width: 1440px)
      top: 70px
  &_header
    @extend .open-light
    font-size: 54px
    margin-top: 40px
    color: $blue
    @media screen and (max-width: 1440px)
      font-size: 44px
      margin-top: 30px
    @media screen and (max-width: 420px)
      font-size: 28px
  &_form
    margin-top: 40px
    @media screen and (max-width: 1440px)
      margin-top: 30px
    input
      width: 100%
      height: 30px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      outline: none
      font-size: 14px
      text-indent: 10px
      color: rgba(0, 0, 0, 1)
      border: none
      border-bottom: 1px solid $blue
      margin-top: 20px
      @media screen and (max-width: 1440px)
        margin-top: 15px
    input::-moz-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-webkit-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input:-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::placeholder
      color: rgba(0, 0, 0, 0.5)
    input:focus::placeholder
      color: rgba(0, 0, 0, 0.5)
      outline: none
    &_btn
      @media screen and (max-width: 420px)
        margin-top: 40px
  &_close
    position: absolute
    display: block
    width: 50px
    height: 100px
    top: 0
    right: 5vw
    overflow: hidden
    cursor: pointer
    padding-right: 0
    margin: 0
    z-index: 30
    @media screen and (max-width: 1440px)
      height: 70px
    &:after
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 22px
      border-top: 3px solid $black
      border-bottom: 3px solid $black
      transition: all 0.5s
      transform: rotate(45deg)
      border-top: none
      right: -7px
      top: 38px
      @media screen and (max-width: 1440px)
        top: 19px
      @media screen and (max-width: 768px)
        right: -8px
    &:before
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 3px
      top: 55px
      right: 0
      background-color: $black
      transition: all 0.5s
      transform: rotate(-45deg)
      @media screen and (max-width: 1440px)
        top: 35px





.popup_want
  position: fixed
  display: none
  width: 100%
  height: calc(40vh - 110px)
  top: -100%
  left: 0
  opacity: 0
  background-color: $white
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  z-index: 25
  @media screen and (max-width: 1440px)
    height: calc(35vh - 70px)
    top: 70px
    min-height: 210px
  @media screen and (max-width: 420px)
    height: calc(100vh - 70px)
  &_active
    display: block
    top: 110px
    opacity: 1
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -ms-transition: all 0.6s
    -o-transition: all 0.6s
    transition: all 0.6s
    @media screen and (max-width: 1440px)
      top: 70px
  &_header
    @extend .open-light
    font-size: 54px
    margin-top: 40px
    color: $blue
    @media screen and (max-width: 1440px)
      font-size: 44px
      margin-top: 30px
    @media screen and (max-width: 420px)
      font-size: 28px
  &_form
    margin-top: 40px
    @media screen and (max-width: 1440px)
      margin-top: 30px
    input
      width: 100%
      height: 30px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      outline: none
      font-size: 14px
      text-indent: 10px
      color: rgba(0, 0, 0, 1)
      border: none
      border-bottom: 1px solid $blue
      margin-top: 20px
      @media screen and (max-width: 1440px)
        margin-top: 15px
    input::-moz-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-webkit-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input:-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::placeholder
      color: rgba(0, 0, 0, 0.5)
    input:focus::placeholder
      color: rgba(0, 0, 0, 0.5)
      outline: none
    &_btn
      @media screen and (max-width: 420px)
        margin-top: 40px
  &_close
    position: absolute
    display: block
    width: 50px
    height: 100px
    top: 0
    right: 5vw
    overflow: hidden
    cursor: pointer
    padding-right: 0
    margin: 0
    z-index: 30
    @media screen and (max-width: 1440px)
      height: 70px
    &:after
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 22px
      border-top: 3px solid $black
      border-bottom: 3px solid $black
      transition: all 0.5s
      transform: rotate(45deg)
      border-top: none
      right: -7px
      top: 38px
      @media screen and (max-width: 1440px)
        top: 19px
      @media screen and (max-width: 768px)
        right: -8px
    &:before
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 3px
      top: 55px
      right: 0
      background-color: $black
      transition: all 0.5s
      transform: rotate(-45deg)
      @media screen and (max-width: 1440px)
        top: 35px





.popup_partner
  position: fixed
  display: none
  width: 100%
  height: calc(40vh - 110px)
  top: -100%
  left: 0
  opacity: 0
  background-color: $white
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  z-index: 25
  @media screen and (max-width: 1440px)
    height: calc(35vh - 70px)
    top: 70px
    min-height: 210px
  @media screen and (max-width: 420px)
    height: calc(100vh - 70px)
  &_active
    display: block
    top: 110px
    opacity: 1
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -ms-transition: all 0.6s
    -o-transition: all 0.6s
    transition: all 0.6s
    @media screen and (max-width: 1440px)
      top: 70px
  &_header
    @extend .open-light
    font-size: 54px
    margin-top: 40px
    color: $blue
    @media screen and (max-width: 1440px)
      font-size: 44px
      margin-top: 30px
    @media screen and (max-width: 420px)
      font-size: 28px
  &_form
    margin-top: 40px
    @media screen and (max-width: 1440px)
      margin-top: 30px
    input
      width: 100%
      height: 30px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      outline: none
      font-size: 14px
      text-indent: 10px
      color: rgba(0, 0, 0, 1)
      border: none
      border-bottom: 1px solid $blue
      margin-top: 20px
      @media screen and (max-width: 1440px)
        margin-top: 15px
    input::-moz-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-webkit-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input:-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::-ms-input-placeholder
      color: rgba(0, 0, 0, 0.5)
    input::placeholder
      color: rgba(0, 0, 0, 0.5)
    input:focus::placeholder
      color: rgba(0, 0, 0, 0.5)
      outline: none
    &_btn
      @media screen and (max-width: 420px)
        margin-top: 40px
  &_close
    position: absolute
    display: block
    width: 50px
    height: 100px
    top: 0
    right: 5vw
    overflow: hidden
    cursor: pointer
    padding-right: 0
    margin: 0
    z-index: 30
    @media screen and (max-width: 1440px)
      height: 70px
    &:after
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 22px
      border-top: 3px solid $black
      border-bottom: 3px solid $black
      transition: all 0.5s
      transform: rotate(45deg)
      border-top: none
      right: -7px
      top: 38px
      @media screen and (max-width: 1440px)
        top: 19px
      @media screen and (max-width: 768px)
        right: -8px
    &:before
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 3px
      top: 55px
      right: 0
      background-color: $black
      transition: all 0.5s
      transform: rotate(-45deg)
      @media screen and (max-width: 1440px)
        top: 35px




.popup_image
  position: fixed
  display: none
  width: 100%
  height: calc(100vh - 110px)
  top: -100%
  left: 0
  opacity: 0
  overflow: scroll
  background-color: $white
  -webkit-transition: all 0.6s
  -moz-transition: all 0.6s
  -ms-transition: all 0.6s
  -o-transition: all 0.6s
  transition: all 0.6s
  z-index: 25
  padding-bottom: 30px
  @media screen and (max-width: 1440px)
    height: calc(100vh - 70px)
    top: 70px
    min-height: 210px
  &_active
    display: block
    top: 110px
    opacity: 1
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -ms-transition: all 0.6s
    -o-transition: all 0.6s
    transition: all 0.6s
    @media screen and (max-width: 1440px)
      top: 70px
  &_slide_img
    position: relative
    width: 100%
    height: 700px
    border-radius: 10px
    overflow: hidden
    @media screen and (max-width: 1440px)
      height: 500px
    @media screen and (max-width: 780px)
      height: 300px
    @media screen and (max-width: 420px)
      height: 170px
    img
      position: absolute
      width: 100%
      bottom: -30px
      @media screen and (max-width: 420px)
        bottom: 0
        min-height: 100%
  .gallery_slide_want
    @media screen and (max-width: 420px)
      margin-top: 20px
  &_title
    @extend .open-semi
    font-size: 54px
    margin-top: 50px
    @media screen and (max-width: 1440px)
      font-size: 36px
    @media screen and (max-width: 420px)
      font-size: 28px
      margin-top: 30px
  &_sub_title
    @extend .open-reg
    font-size: 24px
    margin-top: 25px
    @media screen and (max-width: 1440px)
      font-size: 20px
    @media screen and (max-width: 420px)
      font-size: 18px
  &_text
    @extend .open-light
    font-size: 18px
    line-height: 27px
    margin-top: 15px
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
    @media screen and (max-width: 420px)
      font-size: 12px
      line-height: 20px
  &_close
    position: absolute
    display: block
    width: 50px
    height: 100px
    top: -2vh
    right: 1vw
    overflow: hidden
    cursor: pointer
    padding-right: 0
    margin: 0
    z-index: 30
    @media screen and (max-width: 1440px)
      height: 70px
    &:after
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 22px
      border-top: 3px solid $black
      border-bottom: 3px solid $black
      transition: all 0.5s
      transform: rotate(45deg)
      border-top: none
      right: -7px
      top: 38px
      @media screen and (max-width: 1440px)
        top: 19px
      @media screen and (max-width: 768px)
        right: -8px
    &:before
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 3px
      top: 55px
      right: 0
      background-color: $black
      transition: all 0.5s
      transform: rotate(-45deg)
      @media screen and (max-width: 1440px)
        top: 35px
  &_next_arrow
    position: absolute
    display: block
    width: 15px
    top: 35%
    right: -2%
    cursor: pointer
    z-index: 15
    @media screen and (max-width: 1440px)
      top: 30%
      right: -3%
    @media screen and (max-width: 420px)
      right: -10%
    img
      width: 100%
  &_prev_arrow
    position: absolute
    display: block
    width: 15px
    top: 35%
    left: -2%
    cursor: pointer
    -webkit-transform: rotate(180deg)
    -moz-transform: rotate(180deg)
    -ms-transform: rotate(180deg)
    -o-transform: rotate(180deg)
    transform: rotate(180deg)
    z-index: 15
    @media screen and (max-width: 1440px)
      top: 30%
      left: -3%
    @media screen and (max-width: 420px)
      left: -10%
    img
      width: 100%
