.product_main
  position: relative
  width: 100%
  margin-top: 210px
  &_image
    position: absolute
    width: 90vw
    height: 40vh
    left: 5vw
    top: 0
    min-height: 450px
    overflow: hidden
    @media screen and (max-width: 1440px)
      width: 95vw
    img
      position: absolute
      width: 100%
      bottom: -70%
  &_title
    @extend .open-light
    font-size: 54px
    line-height: 74px
    color: $black
    margin-top: 480px
  &_btn
    margin-top: 95px
  &_text
    @extend .open-light
    font-size: 18px
    line-height: 27px
    color: $black
    margin-top: 70px
  &_block
    margin-top: 70px
    &_title
      @extend .open-semi
      font-size: 24px
      color: $black
      text-align: center
    &_text
      display: block
      width: 95%
      @extend .open-light
      font-size: 18px
      line-height: 27px
      color: $black
      margin-top: 20px
      @media screen and (max-width: 1440px)
        font-size: 16px
        line-height: 24px






.product_work
  position: relative
  width: 100%
  margin-top: 120px


