.product_main
  position: relative
  width: 100%
  margin-top: 140px
  @media screen and (max-width: 1440px)
    margin-top: 100px
  .product_decor
    position: absolute
    display: block
    width: 100%
    height: 150vh
    left: 70%
    top: 30%
    z-index: -1
    @media screen and (max-width: 780px)
      left: 50%
    @media screen and (max-width: 420px)
      height: 100vh
      top: 50%
    img
      height: 100%
  &_image
    position: absolute
    width: 90vw
    height: 40vh
    left: 5vw
    top: 0
    min-height: 450px
    overflow: hidden
    border-radius: 10px 0 0 10px
    @media screen and (max-width: 1440px)
      width: 95vw
      height: 20vh
      min-height: 250px
    @media screen and (max-width: 420px)
      min-height: 170px
    img
      position: absolute
      width: 100%
      bottom: -70%
      @media screen and (max-width: 420px)
        bottom: 0
  &_title
    @extend .open-light
    font-size: 54px
    color: $black
    margin-top: 480px
    @media screen and (max-width: 1440px)
      font-size: 44px
      margin-top: 380px
    @media screen and (max-width: 780px)
      margin-top: 280px
    @media screen and (max-width: 420px)
      font-size: 32px
      margin-top: 200px
  &_btn
    margin-top: 95px
    @media screen and (max-width: 1440px)
      margin-top: 50px
  &_sub_title
    @extend .open-bold
    font-size: 44px
    margin-top: 75px
    @media screen and (max-width: 1440px)
      font-size: 34px
    @media screen and (max-width: 780px)
      margin-top: 35px
    @media screen and (max-width: 420px)
      font-size: 28px
  &_text
    @extend .open-light
    font-size: 18px
    line-height: 27px
    color: $black
    margin-top: 30px
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
      margin-top: 20px
  &_image_slider
    margin-top: 480px
    @media screen and (max-width: 1440px)
      margin-top: 380px
    @media screen and (max-width: 780px)
      margin-top: 40px
    @media screen and (max-width: 420px)
      margin-top: 0
    .slick-center
      opacity: 1
      z-index: 100
      -webkit-transform: scale(1.2)
      -moz-transform: scale(1.2)
      -ms-transform: scale(1.2)
      -o-transform: scale(1.2)
      transform: scale(1.2)
      .product_main_image_slide_name
        font-size: 12px
        @media screen and (max-width: 420px)
          font-size: 11px
          line-height: 17px
    .slick-list
      padding-top: 30px !important
    .product_main_image_next_arrow
      position: absolute
      display: block
      width: 15px
      top: 35%
      right: -2%
      cursor: pointer
      z-index: 15
      @media screen and (max-width: 1440px)
        top: 30%
        right: -3%
      @media screen and (max-width: 420px)
        right: -10%
      img
        width: 100%
    .product_main_image_prev_arrow
      position: absolute
      display: block
      width: 15px
      top: 35%
      left: -2%
      cursor: pointer
      -webkit-transform: rotate(180deg)
      -moz-transform: rotate(180deg)
      -ms-transform: rotate(180deg)
      -o-transform: rotate(180deg)
      transform: rotate(180deg)
      z-index: 15
      @media screen and (max-width: 1440px)
        top: 30%
        left: -3%
      @media screen and (max-width: 420px)
        left: -10%
      img
        width: 100%
  &_image_slide
    display: block
    height: 10vh
    min-height: 240px
    overflow: hidden
    padding: 15px 12px
    opacity: 0.3
    -webkit-transition: all 0.5s
    -moz-transition: all 0.5s
    -ms-transition: all 0.5s
    -o-transition: all 0.5s
    transition: all 0.5s
    z-index: 10
    text-decoration: none
    color: $black
    @media screen and (max-width: 1440px)
      padding: 15px 10px
    &_img
      width: 100%
      height: 10vh
      min-height: 155px
      overflow: hidden
      border-radius: 10px
      @media screen and (max-width: 1440px)
        min-height: 125px
      img
        height: 100%
        min-width: 100%
    &_name
      width: 100%
      @extend .open-semi
      font-size: 14px
      line-height: 22px
      margin-top: 10px
      text-align: center
      color: $black
  &_slider_wrapper
    position: relative
    margin-left: 6vw
    overflow: hidden
  &_slider_arrow
    position: absolute
    display: block
    width: 65px
    top: 0
    right: 6vw
    img
      width: 100%
  &_slider
    margin-right: 6vw
    .slick-list
      overflow: visible
  &_block
    position: relative
    margin-top: 70px
    &_decor
      position: absolute
      display: block
      width: 110px
      height: 110px
      top: 0
      left: 0
      border-radius: 100%
      background-color: #CEF7FF
      z-index: 0
    &_title
      position: relative
      @extend .open-semi
      font-size: 24px
      color: $black
      text-align: center
      z-index: 1
      @media screen and (max-width: 1440px)
        font-size: 18px
    &_text
      position: relative
      display: block
      width: 95%
      @extend .open-light
      font-size: 18px
      line-height: 27px
      color: $black
      margin-top: 20px
      z-index: 1
      @media screen and (max-width: 1440px)
        font-size: 14px
        line-height: 22px
        margin-top: 15px






.product_point
  position: relative
  width: 100%
  margin-top: 70px
  @media screen and (max-width: 420px)
    margin-top: 50px
  &_slider_wrapper
    margin-left: 6vw
    @media screen and (max-width: 780px)
      padding-bottom: 70px
    @media screen and (max-width: 420px)
      padding-bottom: 100px
  &_slide
    &_header
      @extend .open-semi
      font-size: 24px
      @media screen and (max-width: 1440px)
        font-size: 22px
    &_text
      @extend .open-light
      font-size: 18px
      line-height: 27px
      padding-top: 20px
      @media screen and (max-width: 1440px)
        font-size: 14px
        line-height: 22px
        padding-top: 15px
      p
        margin-top: 10px
    &_image
      width: 100%
      height: 40vh
      min-height: 465px
      overflow: hidden
      border-radius: 10px 0 0 10px
      //box-shadow: 0 15px 20px rgba(0,0,0,0.16)
      z-index: 15
      @media screen and (max-width: 1440px)
        min-height: 265px
      @media screen and (max-width: 780px)
        margin-top: 20px
      @media screen and (max-width: 420px)
        min-height: 170px
        width: calc(100% - 6vw)
        border-radius: 10px
      img
        width: 100%
        @media screen and (max-width: 420px)
          height: 100%
          width: auto
    &_btn
      margin-top: 50px
      @media screen and (max-width: 420px)
        margin-top: 30px
        margin-right: 6vw
        width: calc(100% - 6vw)
  &_next_arrow
    position: absolute
    display: block
    width: 250px
    height: 50px
    bottom: 30%
    left: 20%
    text-align: center
    line-height: 48px
    border-radius: 30px
    cursor: pointer
    border: 1px solid $blue
    background-color: inherit
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -ms-transition: all 0.6s
    -o-transition: all 0.6s
    transition: all 0.6s
    z-index: 10
    @media screen and (max-width: 1440px)
      height: 45px
      line-height: 43px
      bottom: 25%
    @media screen and (max-width: 780px)
      bottom: -65px
      right: 6vw
      left: auto
    @media screen and (max-width: 420px)
      width: calc(100% - 6vw)
    &:hover
      border: 1px solid $light-blue
      background-color: $light-blue
  &_prev_arrow
    position: absolute
    display: block
    width: auto
    height: 50px
    line-height: 50px
    bottom: 30%
    left: 10%
    cursor: pointer
    color: $black
    opacity: 0.5
    z-index: 10
    @media screen and (max-width: 1440px)
      height: 45px
      line-height: 45px
      bottom: 25%
    @media screen and (max-width: 780px)
      left: auto
      bottom: -65px
      right: 50vw
    @media screen and (max-width: 420px)
      width: calc(100% - 6vw)
      text-align: center
      right: 6vw
      bottom: -110px








.product_work
  position: relative
  width: 100%
  margin-top: 120px


