.review
  position: relative
  width: 100%
  margin-top: 120px
  @media screen and (max-width: 420px)
    margin-top: 80px
  .container-fluid
    overflow: hidden
  &_slider
    position: relative
    width: 100%
    height: 35vh
    min-height: 430px
    margin-top: 50px
    padding-top: 30px
    //overflow: hidden
    @media screen and (max-width: 780px)
      min-height: 480px
  &_slide
    display: block
    //width: 50%
    height: 15vh
    min-height: 300px
    overflow: hidden
    border-radius: 10px
    box-shadow: 0 0 33px rgba(0,0,0,0.10)
    padding: 15px 20px
    opacity: 0.3
    -webkit-transition: all 0.5s
    -moz-transition: all 0.5s
    -ms-transition: all 0.5s
    -o-transition: all 0.5s
    transition: all 0.5s
    margin: 0 25px
    z-index: 10
    @media screen and (max-width: 780px)
      min-height: 350px
    @media screen and (max-width: 420px)
      height: auto
      min-height: auto
    &_video
      width: 100%
      height: 15vh
      min-height: 265px
    &_header
      display: flex
    &_image
      width: 95px
      box-shadow: 0 0 33px rgba(0,0,0,0.10)
      margin-right: 30px
      img
        width: 100%
    &_title_wrapper
      margin-top: 35px
    &_title
      @extend .open-reg
      font-size: 24px
      @media screen and (max-width: 1440px)
        font-size: 20px
    &_sub_title
      @extend .open-reg
      font-size: 14px
      margin-top: 10px
    &_text
      @extend .open-reg
      font-size: 18px
      line-height: 27px
      margin-top: 20px
      @media screen and (max-width: 1440px)
        font-size: 16px
        line-height: 20px
      @media screen and (max-width: 420px)
        font-size: 12px
        line-height: 16px
  .slick-center
    opacity: 1
    background-color: $white
    z-index: 100
    -webkit-transform: scale(1.2)
    -moz-transform: scale(1.2)
    -ms-transform: scale(1.2)
    -o-transform: scale(1.2)
    transform: scale(1.2)
    .review_slide_title
      @extend .open-reg
      font-size: 14px
    &_sub_title
      @extend .open-reg
      font-size: 10px
    &_text
      @extend .open-reg
      font-size: 15px
      line-height: 20px
      @media screen and (max-width: 420px)
        font-size: 12px
        line-height: 16px
  .slick-list
    overflow: visible
  .review_next_arrow
    position: absolute
    display: block
    width: 25px
    top: calc(50% - 25px)
    right: -8%
    cursor: pointer
    z-index: 15
    @media screen and (max-width: 780px)
      right: 0
    @media screen and (max-width: 420px)
      width: 16px
      right: -2%
  .review_prev_arrow
    position: absolute
    display: block
    width: 25px
    top: calc(50% - 25px)
    left: -8%
    cursor: pointer
    -webkit-transform: rotate(180deg)
    -moz-transform: rotate(180deg)
    -ms-transform: rotate(180deg)
    -o-transform: rotate(180deg)
    transform: rotate(180deg)
    z-index: 15
    @media screen and (max-width: 780px)
      left: 0
    @media screen and (max-width: 420px)
      width: 16px
      left: -2%
  .slick-dots
    position: absolute
    width: 100%
    bottom: 20px
    left: 0
    display: flex
    flex-direction: row
    justify-content: center
    @media screen and (max-width: 420px)
      bottom: -10%
    .slick-active
      button
        color: $blue
        background-color: $blue
    li
      display: inline-block
      width: 10px
      height: 10px
      margin-right: 10px
      button
        display: inline-block
        width: 10px
        height: 10px
        font-size: 0
        padding: 0
        background-color: $white
        border: 1px solid $blue
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        outline: none
        border-radius: 50%