.stages_work
  position: relative
  width: 100%
  margin-top: 70px
  @media screen and (max-width: 420px)
    margin-top: 50px
  &_slider_wrapper
    position: relative
    margin-left: 6vw
    //overflow: hidden
  &_slider_arrow
    position: absolute
    display: block
    width: 65px
    top: 0
    right: 6vw
    img
      width: 100%
  &_slider
    margin-right: 6vw
    margin-top: 60px
    @media screen and (max-width: 1440px)
      margin-top: 30px
    .slick-list
      overflow: visible
    .slick-track .stages_work_slide:nth-child(odd)
      position: relative
      width: 105.6666px !important
      margin-top: 240px
      @media screen and (max-width: 420px)
        width: 247px !important
        margin-top: 0
      .stages_work_slide_box
        width: 300%
        @media screen and (max-width: 420px)
          width: 100%
      .stages_work_slide_image
        width: 450%
        @media screen and (max-width: 420px)
          width: 120%
  &_slide
    position: relative
    width: 417px !important
    @media screen and (max-width: 1440px)
      width: 317px !important
    @media screen and (max-width: 420px)
      width: 247px !important
    &_image
      position: absolute
      width: 150%
      height: 10vh
      min-height: 300px
      top: 0
      left: 0
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
      overflow: hidden
      border-radius: 10px
      opacity: 0
      @media screen and (max-width: 420px)
        min-height: 170px
      img
        width: 100%
    &_image_active
      opacity: 1
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
    &_number
      position: relative
      @extend .open-light
      font-size: 80px
      z-index: 1
      @media screen and (max-width: 420px)
        font-size: 50px
    &_text_wrapper
      position: relative
      width: 100%
      padding-left: 95px
      z-index: 1
    &_header
      @extend .open-semi
      font-size: 24px
      @media screen and (max-width: 420px)
        font-size: 18px
    &_text
      @extend .open-light
      font-size: 16px
      line-height: 24px
      @media screen and (max-width: 1440px)
        font-size: 14px
        line-height: 22px
      @media screen and (max-width: 420px)
        font-size: 12px
        line-height: 20px