.vacancy_main
  position: relative
  width: 100%
  margin-top: 140px
  @media screen and (max-width: 1440px)
    margin-top: 100px
  &_header
    @extend .open-light
    font-size: 54px
    text-align: center
    @media screen and (max-width: 1440px)
      font-size: 44px
  &_wrapper
    position: relative
    display: flex
    width: calc(100% - 5vw)
    margin-top: 70px
    @media screen and (max-width: 780px)
      display: inline-block
      width: calc(100% - 12vw)
      margin-left: 6vw
      margin-right: 6vw
  &_image
    width: 45%
    height: 330px
    display: inline-block
    overflow: hidden
    border-radius: 0 10px 10px 0
    @media screen and (max-width: 780px)
      width: 100%
      border-radius: 10px
    img
      width: 100%
  &_text
    width: 46%
    margin-left: 8%
    @media screen and (max-width: 780px)
      width: 100%
      margin-left: 0
    p
      @extend .open-light
      font-size: 18px
      line-height: 27px
      margin-top: 20px
      @media screen and (max-width: 1440px)
        font-size: 14px
        line-height: 22px
        margin-top: 10px
      b
        @extend .open-reg






.vacancy
  position: relative
  width: 100%
  margin-top: 70px
  @media screen and (max-width: 420px)
    margin-top: 50px
  &_list
    li:nth-child(odd) .vacancy_list_title:before
      content: ''
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      box-shadow: -10px 10px 99px rgba(0,0,0,0.06)
      @media screen and (max-width: 780px)
        width: 150%
    li:first-child .vacancy_list_text_wrapper
      height: auto
    &_title
      position: relative
      width: 100%
      @extend .open-semi
      font-size: 28px
      color: $black
      cursor: pointer
      padding: 30px 6vw 30px 6vw
      @media screen and (max-width: 1440px)
        font-size: 22px
        padding: 15px 6vw
      @media screen and (max-width: 780px)
        width: 95%
      @media screen and (max-width: 420px)
        font-size: 18px
        width: 90%
      &:after
        content: url(../img/icon/arrow-down.svg)
        position: absolute
        display: block
        width: 50px
        height: 25px
        top: 32px
        right: 12vw
        -webkit-transition: all 0.6s
        -o-transition: all 0.6s
        transition: all 0.6s
        @media screen and (max-width: 1440px)
          top: 13px
        @media screen and (max-width: 780px)
          right: -3%
        @media screen and (max-width: 420px)
          top: 25%
          right: -5%

    &_text_wrapper
      padding-left: 6vw
      padding-right: 6vw
      height: 0
      overflow: hidden
    &_block
      padding-bottom: 90px
      @media screen and (max-width: 780px)
        position: relative
        display: flex
        justify-content: space-between
        width: 100%
        padding-bottom: 0
      @media screen and (max-width: 420px)
        flex-direction: column
    &_box
      @media screen and (max-width: 780px)
        width: 49%
      @media screen and (max-width: 420px)
        width: 100%
    &_text
      @extend .open-light
      font-size: 18px
      line-height: 27px
      margin-bottom: 30px
      @media screen and (max-width: 1440px)
        font-size: 14px
        line-height: 22px
    &_point
      li
        @extend .open-semi
        font-size: 18px
        line-height: 27px
        @media screen and (max-width: 1440px)
          font-size: 14px
          line-height: 22px
    &_sub_title
      @extend .open-semi
      font-size: 24px
      line-height: 27px
      margin-bottom: 10px
      padding-top: 50px
      @media screen and (max-width: 1440px)
        font-size: 18px
        line-height: 24px
    &_btn
      width: 60%
      margin-top: 100px
      @media screen and (max-width: 780px)
        margin-top: 50px
    &_sub_text
      @extend .open-light
      font-size: 16px
      line-height: 27px
      margin-top: 20px
      @media screen and (max-width: 1440px)
        font-size: 14px
        line-height: 22px
    &_title_open
      &:after
        -webkit-transform: rotate(-180deg)
        -ms-transform: rotate(-180deg)
        -o-transform: rotate(-180deg)
        transform: rotate(-180deg)
  &_text_wrapper
    margin-top: 100px
    margin-left: 6vw
    margin-right: 6vw
    @media screen and (max-width: 1440px)
      margin-top: 50px
    &_form
      position: relative
      display: block
      width: 100%
      margin-top: 30px
      input
        width: 60%
        height: 50px
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        outline: none
        font-size: 16px
        text-indent: 20px
        color: rgba(0, 0, 0, 1)
        border: 1px solid $blue
        border-radius: 10px
        margin-bottom: 10px
        @media screen and (max-width: 1440px)
          font-size: 14px
          height: 45px
        @media screen and (max-width: 780px)
          width: 100%
      input::-moz-placeholder
        color: rgba(0, 0, 0, 0.5)
      input::-webkit-input-placeholder
        color: rgba(0, 0, 0, 0.5)
      input:-ms-input-placeholder
        color: rgba(0, 0, 0, 0.5)
      input::-ms-input-placeholder
        color: rgba(0, 0, 0, 0.5)
      input::placeholder
        color: rgba(0, 0, 0, 0.5)
      input:focus::placeholder
        color: rgba(0, 0, 0, 0.5)
        outline: none
      &_btn
        position: absolute
        width: 35%
        bottom: 10px
        right: 0
        @media screen and (max-width: 780px)
          position: inherit
          width: 100%
          bottom: auto
          margin-top: 10px
        @media screen and (max-width: 420px)
          width: 100%
          margin-left: 0
          margin-top: 30px
      lable
        position: absolute
        display: block
        width: 35%
        height: 50px
        top: 0
        right: 0
        font-size: 16px
        @extend .open-reg
        color: rgba(0, 0, 0, 0.5)
        cursor: pointer
        @media screen and (max-width: 1440px)
          font-size: 13px
          text-align: center
        @media screen and (max-width: 780px)
          position: inherit
          width: 100%
          line-height: 50px
          text-indent: 20px
          text-align: left
        &:after
          content: url(../img/icon/upload.svg)
          position: absolute
          display: block
          width: 50px
          top: -15px
          right: 0
          opacity: 1
          @media screen and (max-width: 1440px)
            top: 30px
            right: auto
            left: calc(50% - 25px)
          @media screen and (max-width: 780px)
            width: auto
            top: auto
            left: auto
            right: 0
            bottom: -15px
        input
          display: none
          border: none
  &_text
    position: relative
    width: auto
    display: inline-block
    @extend .open-reg
    font-size: 18px
    line-height: 27px
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
    &:after
      content: ''
      position: absolute
      width: 95%
      height: 3px
      left: 0
      bottom: -20px
      background-color: $blue
      opacity: 0.25
      @media screen and (max-width: 1440px)
        bottom: -15px
  &_text2
    position: relative
    width: auto
    display: inline-block
    @extend .open-semi
    font-size: 18px
    line-height: 27px
    padding-top: 90px
    margin-left: 6vw
    text-transform: uppercase
    @media screen and (max-width: 1440px)
      font-size: 14px
      line-height: 22px
  &_offer
    margin-top: 70px
    padding-left: 6vw
    padding-right: 6vw
    @media screen and (max-width: 1440px)
      margin-top: 30px
    &_text
      @extend .open-semi
      font-size: 18px
      line-height: 27px
      @media screen and (max-width: 1440px)
        font-size: 14px
        line-height: 22px
    &_list
      li
        @extend .open-semi
        font-size: 18px
        line-height: 27px
        opacity: 0.5
        margin-top: 5px
        @media screen and (max-width: 1440px)
          font-size: 14px
          line-height: 22px