@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.open-reg, .main_about_form textarea, .light_btn, .btn, .main_wrapper {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.open-bold, .other_elements_box_title, .text_block_header, .portfolio_main_sort_list li, .wallness_main_sort_list li, .concept_second_header, .main_about_text a {
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
}

.open-semi, .text_block_first_block p a, .product_main_block_title, .portfolio_sort_result_title, .wallness_sort_result_title, .wallness_main_title, .concept_second_block_title, .main_about_text, .main_about_text_wrapper_title, .main_elements_box_text_wrapper p, .main_elements_box_title, .main_second_box_link, .main_second_box_header, .main_second_header, .main_header, .section_header {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
}

.open-light, .contact_us_form label, .blog_box_title, .footer_form label, .footer_menu a, .footer_copy, .product_main_block_text, .product_main_text, .product_main_title, .portfolio_sort_result_box_text, .portfolio_main_header, .wallness_main_text, .wallness_main_header, .concept_second_block_text, .concept_second_text, .concept_main_header, .main_about_text_wrapper p, .main_sub_header {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
}

.open-it, .main_second_text, .main_text {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.rel-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.main_wrapper {
  overflow: hidden;
}
.main_wrapper .container-fluid {
  width: 90vw;
  margin-left: 5vw;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 46px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #41C4DC;
  background-color: #41C4DC;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.btn:hover {
  border: 2px solid #25A6BE;
  background-color: #25A6BE;
}

.light_btn {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 46px;
  color: #000000;
  font-size: 18px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #41C4DC;
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.light_btn:hover {
  border: 2px solid #CEF7FF;
  background-color: #CEF7FF;
  color: #000000;
}

.section_header {
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 54px;
  color: #272727;
  border: 2px solid #41C4DC;
  border-radius: 10px 10px 10px 0;
  padding: 15px 75px;
  margin-bottom: 35px;
}
@media screen and (max-width: 1440px) {
  .section_header {
    font-size: 44px;
  }
}
.section_header:after {
  content: "";
  position: absolute;
  display: block;
  width: 200%;
  height: 2px;
  bottom: -2px;
  left: -120%;
  background-color: #41C4DC;
}

.nav_header {
  position: fixed;
  width: 100%;
  height: 110px;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}
.nav_header_logo {
  position: relative;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav_header_logo img {
  width: 160px;
}
.nav_header_burger {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding-right: 0;
  margin: 0;
}
.nav_header_burger:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 22px;
  top: 39px;
  right: 0;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  transition: all 0.5s;
}
.nav_header_burger:before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 3px;
  top: 48px;
  right: 0;
  background-color: #000000;
  transition: all 0.5s;
}
.nav_header_burger_close:after {
  transform: rotate(45deg);
  border-top: none;
  right: -7px;
  top: 32px;
}
@media screen and (max-width: 768px) {
  .nav_header_burger_close:after {
    right: -10px;
  }
}
.nav_header_burger_close:before {
  transform: rotate(-45deg);
}
@media screen and (max-width: 768px) {
  .nav_header_burger_close:before {
    right: -3px;
  }
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.main .filter {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(63, 70, 75, 0.7), rgba(13, 14, 15, 0));
}
.main_text {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  opacity: 0.85;
  margin-top: 35vh;
}
.main_header {
  display: inline-block;
  width: 100%;
  font-size: 50px;
  color: #ffffff;
  margin-top: 50px;
}
.main_sub_header {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  color: #ffffff;
  margin-top: 10px;
}
.main_btn {
  margin-top: 50px;
}
.main_media_wrapper {
  position: fixed;
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.16);
  width: 80px;
  height: 80px;
  bottom: 50px;
  right: 25px;
  z-index: 20;
  cursor: pointer;
  box-shadow: 0 0 33px rgba(0, 0, 0, 0.16);
}
.main_media_wrapper:hover .main_media_wrapper_first {
  opacity: 1;
  z-index: 20;
  top: -60px;
  right: 15px;
}
.main_media_wrapper:hover .main_media_wrapper_second {
  opacity: 1;
  z-index: 20;
  top: -40px;
  right: 70px;
}
.main_media_wrapper:hover .main_media_wrapper_third {
  opacity: 1;
  z-index: 20;
  top: 15px;
  right: 90px;
}
.main_media_wrapper .main_media_wrapper_dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 80px;
  margin-left: 15px;
}
.main_media_wrapper .main_media_wrapper_dots .main_media_wrapper_dot {
  width: 10px;
  height: 10px;
  border: 2px solid #000000;
  border-radius: 50%;
}
.main_media_wrapper .main_media_wrapper_first {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  right: 15px;
  top: 10px;
  text-decoration: none;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.main_media_wrapper .main_media_wrapper_first img {
  width: 30px;
  margin-left: 10px;
}
.main_media_wrapper .main_media_wrapper_first_text {
  position: absolute;
  color: #ffffff;
  -webkit-text-stroke: 0.5px black;
  top: -50%;
  text-shadow: #000000 0 0 0.5px;
}
.main_media_wrapper .main_media_wrapper_second {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  right: 0;
  top: 0;
  text-decoration: none;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.main_media_wrapper .main_media_wrapper_second img {
  width: 30px;
  margin-left: 10px;
}
.main_media_wrapper .main_media_wrapper_second_text {
  position: absolute;
  color: #ffffff;
  -webkit-text-stroke: 0.5px black;
  left: -170%;
  text-shadow: #000000 0 0 0.5px;
}
.main_media_wrapper .main_media_wrapper_third {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  text-decoration: none;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.main_media_wrapper .main_media_wrapper_third img {
  width: 30px;
}
.main_media_wrapper .main_media_wrapper_third_text {
  position: absolute;
  color: #ffffff;
  -webkit-text-stroke: 0.5px black;
  left: -170%;
  text-shadow: #000000 0 0 0.5px;
}

.main_second {
  position: relative;
  width: 100%;
  margin-top: 120px;
}
.main_second_text {
  font-size: 18px;
  color: #000000;
  opacity: 0.5;
  text-align: right;
  margin-top: 20px;
}
.main_second_header {
  font-size: 32px;
  color: #000000;
  margin-top: 60px;
  text-align: right;
}
.main_second_sub_header {
  font-size: 18px;
  color: #000000;
  opacity: 0.75;
  margin-top: 20px;
  text-align: right;
}
.main_second_image {
  width: 100%;
  height: 30vh;
  min-height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.main_second_image img {
  height: 100%;
  min-width: 100%;
}
.main_second_box_wrapper {
  margin-top: 35px;
}
.main_second_box_wrapper .col-lg-4:nth-child(2) .main_second_box_decor {
  left: auto;
  right: 20px;
  top: 20px;
}
.main_second_box_wrapper .col-lg-4:nth-child(3) .main_second_box_decor {
  left: auto;
  top: auto;
  bottom: 80px;
  right: 100px;
}
.main_second_box {
  position: relative;
  display: block;
  width: 100%;
  height: 25vh;
  min-height: 345px;
  background-color: #ffffff;
  border-radius: 10px;
  border-top: 25px solid #41C4DC;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .main_second_box {
    min-height: 300px;
  }
}
.main_second_box:hover .main_second_box_link {
  opacity: 0.75;
}
.main_second_box:hover .main_second_box_text {
  top: 0;
}
.main_second_box_image {
  width: 180px;
  height: 160px;
  margin-top: 40px;
  margin-left: 35px;
  opacity: 0.5;
}
@media screen and (max-width: 1440px) {
  .main_second_box_image {
    width: 150px;
    height: 130px;
    margin-top: 25px;
  }
}
.main_second_box_image img {
  height: 100%;
}
.main_second_box_header {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  bottom: 20px;
  left: 35px;
  font-size: 28px;
  color: #000000;
}
.main_second_box_decor {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
@media screen and (max-width: 1440px) {
  .main_second_box_decor {
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    left: 50%;
  }
}
.main_second_box_decor img {
  width: 100%;
}
.main_second_box_link {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  bottom: 25px;
  right: 40px;
  color: #000000;
  opacity: 0;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.main_second_box_text {
  position: absolute;
  display: block;
  width: 100%;
  height: 80%;
  top: -80%;
  left: 0;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #41C4DC;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: top 0.6s;
  -moz-transition: top 0.6s;
  -ms-transition: top 0.6s;
  -o-transition: top 0.6s;
  transition: top 0.6s;
}
@media screen and (max-width: 1440px) {
  .main_second_box_text {
    font-size: 16px;
  }
}

.main_elements {
  position: relative;
  width: 100%;
  margin-top: 120px;
}
.main_elements_box {
  position: relative;
  width: 100%;
  height: 25vh;
  min-height: 360px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
}
.main_elements_box .filter {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(63, 70, 75, 0.7), rgba(13, 14, 15, 0));
}
.main_elements_box_title {
  position: absolute;
  width: 50%;
  height: auto;
  bottom: 20px;
  left: 30px;
  font-size: 50px;
  color: #ffffff;
  -webkit-text-stroke: 1px black;
}
@media screen and (max-width: 1440px) {
  .main_elements_box_title {
    font-size: 40px;
  }
}
.main_elements_box_text_wrapper {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
}
.main_elements_box_text_wrapper p {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 1440px) {
  .main_elements_box_text_wrapper p {
    font-size: 16px;
    line-height: 20px;
  }
}
.main_elements_box_text_wrapper a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
  text-decoration: underline;
}
@media screen and (max-width: 1440px) {
  .main_elements_box_text_wrapper a {
    font-size: 14px;
  }
}
.main_elements_box_btn {
  position: absolute;
  width: 250px;
  bottom: 20px;
  left: 50%;
  color: #ffffff;
  text-decoration: none;
}

.main_about {
  position: relative;
  width: 100%;
  margin-top: 120px;
}
.main_about_image {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.main_about_image img {
  position: absolute;
  height: 100%;
  min-width: 100%;
  right: -60%;
}
.main_about_text_wrapper {
  position: relative;
  width: 100%;
}
.main_about_text_wrapper_title {
  font-size: 24px;
  margin-top: 30px;
}
.main_about_text_wrapper p {
  font-size: 18px;
  line-height: 27px;
  margin-top: 10px;
}
@media screen and (max-width: 1440px) {
  .main_about_text_wrapper p {
    font-size: 16px;
    line-height: 20px;
  }
}
.main_about_text {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
@media screen and (max-width: 1440px) {
  .main_about_text {
    font-size: 16px;
    line-height: 20px;
  }
}
.main_about_text a {
  display: block;
  color: #000000;
  text-decoration: underline;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1440px) {
  .main_about_text a {
    font-size: 16px;
  }
}
.main_about_form_wrapper {
  position: relative;
  width: 100%;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.06);
  padding-bottom: 90px;
}
.main_about_form_title_wrapper {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px 10px 0 0;
  background-color: rgba(65, 196, 220, 0.18);
}
.main_about_form_title {
  font-size: 24px;
}
.main_about_form {
  position: relative;
  display: block;
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-top: 70px;
}
.main_about_form input {
  width: 100%;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 16px;
  text-indent: 20px;
  color: black;
  border: 1px solid #41C4DC;
  border-radius: 10px;
  margin-top: 20px;
}
.main_about_form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.main_about_form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.main_about_form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.main_about_form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.main_about_form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.main_about_form input:focus::placeholder {
  color: rgba(0, 0, 0, 0.5);
  outline: none;
}
.main_about_form textarea {
  width: 100%;
  height: 160px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none;
  overflow-y: auto;
  font-size: 16px;
  color: black;
  border: 1px solid #41C4DC;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
}
.main_about_form_btn {
  margin-top: 40px;
}

.concept_main {
  position: relative;
  width: 100%;
  margin-top: 210px;
}
.concept_main_header {
  font-size: 54px;
  color: #000000;
}
.concept_main_btn {
  margin-top: 100px;
}
.concept_main_text {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
@media screen and (max-width: 1440px) {
  .concept_main_text {
    font-size: 16px;
    line-height: 24px;
  }
}

.concept_second {
  position: relative;
  width: 100%;
  margin-top: 120px;
}
.concept_second_header {
  font-size: 44px;
  color: #000000;
}
.concept_second_text {
  font-size: 18px;
  line-height: 27px;
  margin-top: 30px;
}
@media screen and (max-width: 1440px) {
  .concept_second_text {
    font-size: 16px;
    line-height: 24px;
  }
}
.concept_second_block_title {
  font-size: 24px;
  color: #000000;
  margin-top: 70px;
  text-align: center;
}
.concept_second_block_text {
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
}
@media screen and (max-width: 1440px) {
  .concept_second_block_text {
    font-size: 16px;
    line-height: 24px;
  }
}

.wallness_main {
  position: relative;
  width: 100%;
  margin-top: 210px;
}
.wallness_main_header {
  font-size: 54px;
  text-align: center;
}
.wallness_main_sort_list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.wallness_main_sort_list:after {
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 2px;
  bottom: -50px;
  left: 20%;
  background-color: #41C4DC;
  opacity: 0.3;
}
.wallness_main_sort_list .active_wallness_list {
  color: #ffffff;
  background-color: #41C4DC;
  border-radius: 10px;
}
.wallness_main_sort_list li {
  margin-right: 30px;
  font-size: 28px;
  color: #000000;
  cursor: pointer;
  padding: 5px 10px;
}
@media screen and (max-width: 1440px) {
  .wallness_main_sort_list li {
    font-size: 24px;
    margin-right: 15px;
  }
}
.wallness_main_text_block {
  position: relative;
  width: 175%;
  padding-top: 70px;
  padding-bottom: 130px;
  margin-top: 100px;
  box-shadow: -10px 10px 99px rgba(0, 0, 0, 0.06);
}
.wallness_main_title {
  width: 50%;
  font-size: 24px;
  margin-left: 60px;
}
.wallness_main_text {
  width: 50%;
  font-size: 18px;
  line-height: 27px;
  margin-top: 30px;
  margin-left: 60px;
}
@media screen and (max-width: 1440px) {
  .wallness_main_text {
    font-size: 16px;
    line-height: 24px;
  }
}
.wallness_main_image {
  width: 100%;
  height: 20vh;
  min-height: 400px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 100px;
}
.wallness_main_image img {
  height: 100%;
}

.wallness_sort_result {
  position: relative;
  width: 100%;
  margin-top: 70px;
}
.wallness_sort_result_box {
  margin-top: 50px;
}
.wallness_sort_result_image {
  width: 100%;
  height: 20vh;
  min-height: 400px;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .wallness_sort_result_image {
    min-height: 300px;
  }
}
.wallness_sort_result_image img {
  height: 100%;
  transform: translate(-15%);
}
.wallness_sort_result_title {
  display: block;
  font-size: 28px;
  color: #000000;
  text-decoration: none;
  margin-top: 10px;
}
@media screen and (max-width: 1440px) {
  .wallness_sort_result_title {
    font-size: 24px;
  }
}

.portfolio_main {
  position: relative;
  width: 100%;
  margin-top: 210px;
}
.portfolio_main_header {
  font-size: 54px;
  text-align: center;
}
.portfolio_main_sort_list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.portfolio_main_sort_list:after {
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 2px;
  bottom: -50px;
  left: 20%;
  background-color: #41C4DC;
  opacity: 0.3;
}
.portfolio_main_sort_list .active_wallness_list {
  color: #ffffff;
  background-color: #41C4DC;
  border-radius: 10px;
}
.portfolio_main_sort_list li {
  margin-right: 30px;
  font-size: 28px;
  color: #000000;
  cursor: pointer;
  padding: 5px 10px;
}
@media screen and (max-width: 1440px) {
  .portfolio_main_sort_list li {
    font-size: 24px;
    margin-right: 15px;
  }
}

.portfolio_sort_result {
  position: relative;
  width: 100%;
  margin-top: 100px;
}
.portfolio_sort_result_box {
  position: relative;
  width: 100%;
  margin-bottom: 140px;
}
.portfolio_sort_result_box:hover .portfolio_sort_result_title {
  height: auto;
}
.portfolio_sort_result_box:hover .portfolio_sort_result_box_text {
  height: auto;
  opacity: 1;
}
.portfolio_sort_result_box_text {
  width: calc(100% - 60px);
  height: 0;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  opacity: 0;
}
@media screen and (max-width: 1440px) {
  .portfolio_sort_result_box_text {
    font-size: 16px;
    line-height: 24px;
  }
}
.portfolio_sort_result_image {
  width: 100%;
  height: 20vh;
  min-height: 400px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .portfolio_sort_result_image {
    min-height: 300px;
  }
}
.portfolio_sort_result_image img {
  height: 100%;
  transform: translate(-10%);
}
.portfolio_sort_result_title {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #41C4DC;
  font-size: 28px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  z-index: 10;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
@media screen and (max-width: 1440px) {
  .portfolio_sort_result_title {
    font-size: 20px;
  }
}

.product_main {
  position: relative;
  width: 100%;
  margin-top: 210px;
}
.product_main_image {
  position: absolute;
  width: 90vw;
  height: 40vh;
  left: 5vw;
  top: 0;
  min-height: 450px;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .product_main_image {
    width: 95vw;
  }
}
.product_main_image img {
  position: absolute;
  width: 100%;
  bottom: -70%;
}
.product_main_title {
  font-size: 54px;
  line-height: 74px;
  color: #000000;
  margin-top: 480px;
}
.product_main_btn {
  margin-top: 95px;
}
.product_main_text {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-top: 70px;
}
.product_main_block {
  margin-top: 70px;
}
.product_main_block_title {
  font-size: 24px;
  color: #000000;
  text-align: center;
}
.product_main_block_text {
  display: block;
  width: 95%;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-top: 20px;
}
@media screen and (max-width: 1440px) {
  .product_main_block_text {
    font-size: 16px;
    line-height: 24px;
  }
}

.product_work {
  position: relative;
  width: 100%;
  margin-top: 120px;
}

.footer {
  position: relative;
  width: 100%;
  margin-top: 150px;
}
.footer_text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 20px;
}
.footer_contact {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.footer_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
}
.footer_social a {
  text-decoration: none;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1440px) {
  .footer_social a {
    width: 30px;
    height: 30px;
  }
}
.footer_social a img {
  width: 100%;
}
.footer_menu_wrapper {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}
.footer_menu_wrapper:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 1px;
  top: -20px;
  left: -100%;
  background-color: #5B73BF;
  opacity: 0.2;
}
.footer_copy {
  width: 100%;
  font-size: 16px;
  color: #272727;
  opacity: 0.75;
  margin-top: 30px;
  margin-bottom: 50px;
}
.footer_menu {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.footer_menu li {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}
.footer_menu a {
  text-decoration: none;
  color: #272727;
  opacity: 0.75;
}
.footer_form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_form label {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #272727;
  opacity: 0.75;
}
.footer_form input {
  position: relative;
  display: inline-block;
  width: 48%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-bottom: 4px solid rgba(39, 39, 39, 0.75);
}
.footer_form_btn {
  width: 48%;
}

.blog {
  position: relative;
  width: 100%;
  margin-top: 120px;
}
.blog .col-lg-3:nth-child(1) .blog_box {
  margin-top: 75px;
}
.blog .col-lg-3:nth-child(2) .blog_box {
  margin-top: 125px;
}
.blog .col-lg-3:nth-child(3) .blog_box {
  margin-top: 15px;
}
.blog .col-lg-3:nth-child(4) .blog_box {
  margin-top: 100px;
}
.blog_box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.blog_box_image {
  position: relative;
  width: 100%;
  height: 15vh;
  min-height: 170px;
  border-radius: 10px;
  overflow: hidden;
}
.blog_box_image img {
  height: auto;
  width: 100%;
}
.blog_box_title {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #272727;
  margin-top: 20px;
  font-size: 24px;
  line-height: 27px;
}
@media screen and (max-width: 1440px) {
  .blog_box_title {
    font-size: 18px;
  }
}
.blog_box_text {
  font-size: 16px;
  line-height: 24px;
  color: #272727;
  opacity: 0.75;
  margin-top: 10px;
}

.gallery {
  position: relative;
  width: 100%;
  margin-top: 120px;
}

.text_block {
  position: relative;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 20px;
}
.text_block_header {
  width: 50%;
  font-size: 44px;
}
.text_block_first_block {
  position: relative;
  width: 100%;
}
.text_block_first_block p {
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 30px;
}
@media screen and (max-width: 1440px) {
  .text_block_first_block p {
    font-size: 16px;
    line-height: 20px;
  }
}
.text_block_first_block p a {
  text-decoration: underline;
  color: #000000;
}
.text_block_first_block_image {
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  overflow: hidden;
}
.text_block_first_block_image img {
  width: 100%;
}
.text_block_list_point_title {
  position: relative;
  width: 100%;
  font-size: 32px;
  color: #000000;
  cursor: pointer;
  margin-top: 30px;
}
.text_block_list_point_title:after {
  content: url(../img/icon/arrow-down.svg);
  position: absolute;
  display: block;
  width: 50px;
  height: 25px;
  top: 2px;
  right: 0;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.text_block_list_point_title_open:after {
  top: 2px;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.text_block_list_point_wrapper {
  height: 0;
  overflow: hidden;
}
.text_block_list_point_viewer_text p {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-top: 20px;
}
.text_block_btn {
  margin-top: 50px;
}
.text_block_sub_btn {
  margin-top: 50px;
}

.reviews {
  position: relative;
  width: 100%;
  margin-top: 120px;
}

.calculator {
  position: relative;
  width: 100%;
  margin-top: 120px;
}

.contact_us {
  position: relative;
  width: 100%;
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.contact_us .filter {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.contact_us .filter2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), white);
}
.contact_us .filter3 {
  position: absolute;
  display: block;
  width: 100%;
  height: 130px;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), white);
}
.contact_us_form {
  margin-top: 50px;
}
.contact_us_form input {
  width: 100%;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 16px;
  color: black;
  border: none;
  border-bottom: 4px solid rgba(39, 39, 39, 0.75);
  margin-bottom: 50px;
  background-color: inherit;
}
.contact_us_form label {
  font-size: 16px;
  color: rgba(39, 39, 39, 0.75);
}
.contact_us_form textarea {
  width: 100%;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 16px;
  color: black;
  border: none;
  border-bottom: 4px solid rgba(39, 39, 39, 0.75);
  margin-bottom: 50px;
  background-color: inherit;
  resize: none;
}

.other_elements {
  position: relative;
  width: 100%;
  margin-top: 120px;
}
.other_elements_box {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
.other_elements_box_image {
  position: relative;
  display: block;
  width: 100%;
  height: 20vh;
  min-height: 435px;
  border-radius: 10px;
  overflow: hidden;
}
.other_elements_box_image img {
  height: 100%;
  -webkit-transform: translate(-30%);
  -moz-transform: translate(-30%);
  -ms-transform: translate(-30%);
  -o-transform: translate(-30%);
  transform: translate(-30%);
}
.other_elements_box_title {
  font-size: 28px;
  text-decoration: none;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
