.pt-reg
  font-family: 'PT Sans', sans-serif
  font-weight: 400

.pt-bold
  font-family: 'PT Sans', sans-serif
  font-weight: 700

.lato-light
  font-family: 'Lato', sans-serif
  font-weight: 300

.lato-semi
  font-family: 'Lato', sans-serif
  font-weight: 600


$blue: #1EC8FF
$dark-blue: #1AA3CF
$light-blue: #F0F4F7
$grey: #EFEDEA
$dark-grey: #656565
$light-grey: #B5B5B5
$green: #3AD235
$black: #000000
$light-black: #111016
$white: #ffffff
$red: #DC3030



body
  font-size: 10px

  .main_wrapper
    @extend .pt-reg
    overflow: hidden
    .container-fluid
      width: 90vw
      margin-left: 5vw


.section_header
  @extend .pt-bold
  font-size: 186px
  color: $grey
  @media screen and (max-width: 1440px)
    font-size: 146px
  @media screen and (max-width: 780px)
    font-size: 100px

.btn
  position: relative
  display: flex
  width: auto
  height: 40px
  line-height: 40px
  @extend .pt-reg
  font-size: 30px
  text-decoration: none
  color: $black
  cursor: pointer
  @media screen and (max-width: 1440px)
    font-size: 24px
  @media screen and (max-width: 1280px)
    font-size: 22px
  @media screen and (max-width: 780px)
    font-size: 16px
    font-weight: 600
  &:hover
    p:after
      width: 100%
      opacity: 1
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
  p
    position: relative
    width: auto
    &:after
      content: ''
      position: absolute
      display: block
      width: 0
      height: 2px
      bottom: -5px
      left: 0
      opacity: 0
      background-color: $blue
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
  img
    width: 20px
    margin-left: 40px
    @media screen and (max-width: 1440px)
      margin-left: 25px
    @media screen and (max-width: 1280px)
      margin-left: 20px
    @media screen and (max-width: 780px)
      width: 10px