.pt-reg, .blur_text, .blur_title, .footer_menu a, .main_consultation_lang li, .main_consultation_ps, .main_consultation_text, .main_events_box_date p span, .main_events_box_text, .main_events_viewer_status, .main_events_viewer_date p span, .main_about_ps, .main_about_list li, .main_about_text, .main_slide .black_box_sub_title, .nav_header_menu a, .btn, body .main_wrapper {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.pt-bold, .blur_wrapper:last-child .blur_number, .blur_wrapper:nth-child(2) .blur_number, .main_consultation_ps p span, .main_events_box_date p, .main_events_box_title, .main_events_viewer_date p, .main_events_viewer_title, .main_events_title, .main_about_title, .main_about_sub_header, .main_slide .black_box_title, .nav_header_langs li, .section_header {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.lato-light, .footer_logo p, .nav_header_logo p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.lato-semi, .main_events_letter {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

body {
  font-size: 10px;
}
body .main_wrapper {
  overflow: hidden;
}
body .main_wrapper .container-fluid {
  width: 90vw;
  margin-left: 5vw;
}

.section_header {
  font-size: 186px;
  color: #EFEDEA;
}
@media screen and (max-width: 1440px) {
  .section_header {
    font-size: 146px;
  }
}

.btn {
  position: relative;
  display: flex;
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .btn {
    font-size: 24px;
  }
}
@media screen and (max-width: 1280px) {
  .btn {
    font-size: 22px;
  }
}
.btn:hover p:after {
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn p {
  position: relative;
  width: auto;
}
.btn p:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  opacity: 0;
  background-color: #1EC8FF;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn img {
  width: 20px;
  margin-left: 40px;
}
@media screen and (max-width: 1440px) {
  .btn img {
    margin-left: 25px;
  }
}
@media screen and (max-width: 1280px) {
  .btn img {
    margin-left: 20px;
  }
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.nav_header {
  position: fixed;
  width: 100%;
  height: 13vh;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #EFEDEA;
  overflow: hidden;
}
.nav_header_wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  height: 13vh;
}
.nav_header_menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 21px;
}
.nav_header_menu li {
  margin-right: 30px;
}
.nav_header_menu a {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
.nav_header_logo {
  position: relative;
  text-decoration: none;
  margin-right: 30px;
  margin-bottom: 15px;
  color: #000000;
}
.nav_header_logo p {
  font-size: 18px;
}
.nav_header_logo p span {
  font-size: 80px;
}
.nav_header_langs_wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #1EC8FF;
  box-shadow: -5px 3px 20px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.nav_header_langs_wrapper li {
  opacity: 1;
}
.nav_header_langs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 11px;
  width: 100%;
  height: 13vh;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
@media screen and (max-width: 1440px) {
  .nav_header_langs {
    height: 12vh;
  }
}
.nav_header_langs li {
  opacity: 0;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.nav_header_langs .langs_active {
  position: absolute;
  bottom: 16px;
  display: inline-block;
  opacity: 1;
  width: auto;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #EFEDEA;
}
.main .blue_filter {
  position: absolute;
  width: calc(100% - 30px);
  height: 140vh;
  top: 0;
  right: 15px;
  background-color: #1EC8FF;
  box-shadow: -5px 3px 20px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
.main_slider_wrapper {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-top: 13vh;
  z-index: 2;
  padding-left: 6vw;
  padding-right: calc(5vw - 2px);
}
.main_slide {
  position: relative;
  width: 100%;
  height: 77vh;
}
@media screen and (max-width: 1440px) {
  .main_slide {
    height: 79vh;
  }
}
.main_slide .black_box {
  position: relative;
  width: 100%;
  height: 77vh;
  background-color: #111016;
}
.main_slide .black_box_wrapper {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 100px;
  background-color: #1EC8FF;
  box-shadow: -5px 3px 20px rgba(0, 0, 0, 0.16);
}
.main_slide .black_box_title {
  color: #ffffff;
  font-size: 26px;
  padding-left: 20px;
  padding-top: 25px;
  padding-right: 65px;
}
@media screen and (max-width: 1440px) {
  .main_slide .black_box_title {
    font-size: 22px;
  }
}
.main_slide .black_box_sub_title {
  color: #ffffff;
  font-size: 18px;
  margin-top: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1440px) {
  .main_slide .black_box_sub_title {
    font-size: 16px;
  }
}
.main_slide_image {
  position: relative;
  width: 100%;
  height: 77vh;
  overflow: hidden;
}
.main_slide_image img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .main_slide_image img {
    width: auto;
    height: 100%;
  }
}
.main_social {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -61px;
  left: 8.3333%;
  background-color: #1EC8FF;
  z-index: 3;
  padding: 0 90px;
  box-shadow: -5px 3px 20px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 1440px) {
  .main_social {
    bottom: -58.5px;
    padding: 0 70px;
  }
}
.main_social li {
  width: 30px;
  margin: 0 12.5px;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media screen and (max-width: 1440px) {
  .main_social li {
    width: 25px;
  }
}
.main_social li img {
  width: 100%;
}
.main .main_next_arrow {
  position: absolute;
  width: 22px;
  height: 80px;
  top: calc(45% - 40px);
  right: -3vw;
  z-index: 15;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
}
.main .main_prev_arrow {
  position: absolute;
  width: 22px;
  height: 80px;
  top: calc(45% - 40px);
  left: -3.5vw;
  z-index: 15;
  cursor: pointer;
}
.main .slick-list {
  height: 87vh;
}
.main .slick-dots {
  position: absolute;
  width: 14.5%;
  bottom: 4vh;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .slick-dots .slick-active button {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50px;
}
.main .slick-dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
@media screen and (max-width: 1440px) {
  .main .slick-dots li {
    width: 13px;
    height: 13px;
  }
}
.main .slick-dots li button {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 0;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 50px;
  background-color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
@media screen and (max-width: 1440px) {
  .main .slick-dots li button {
    width: 13px;
    height: 13px;
  }
}

.main_about {
  position: relative;
  width: 100%;
  margin-top: 100px;
}
.main_about_image {
  width: 100%;
}
.main_about_image img {
  width: 100%;
}
.main_about_header {
  margin-left: 30px;
}
.main_about_sub_header {
  font-size: 24px;
  width: 100%;
  display: block;
  color: #ffffff;
  margin-top: 30px;
  padding: 15px 0 15px 30px;
  background-color: #1EC8FF;
}
@media screen and (max-width: 1440px) {
  .main_about_sub_header {
    font-size: 20px;
  }
}
.main_about_text {
  font-size: 18px;
  line-height: 23px;
  margin-top: 30px;
  margin-left: 30px;
}
@media screen and (max-width: 1440px) {
  .main_about_text {
    font-size: 16px;
    line-height: 21px;
  }
}
.main_about_title {
  position: relative;
  display: block;
  width: 100%;
  font-size: 24px;
  color: #000000;
  padding-left: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 1440px) {
  .main_about_title {
    font-size: 20px;
  }
}
.main_about_title_first:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  top: -15px;
  left: 0;
  background-color: #1EC8FF;
}
.main_about_title_first:before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: calc(100% + 30px);
  top: -15px;
  left: 0;
  background-color: #1EC8FF;
}
.main_about_title_second:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -15px;
  left: 0;
  background-color: #1EC8FF;
}
.main_about_title_second:before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: calc(100% + 30px);
  top: -15px;
  left: 0;
  background-color: #1EC8FF;
}
.main_about_list {
  margin-top: 30px;
  margin-left: 50px;
  list-style: disc;
}
.main_about_list li {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 30px;
}
@media screen and (max-width: 1440px) {
  .main_about_list li {
    font-size: 16px;
    line-height: 22px;
  }
}
.main_about_ps_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 30px;
}
.main_about_double_image {
  display: inline-block;
  width: 170px;
  margin-right: 25px;
}
.main_about_double_image img {
  width: 100%;
}
.main_about_ps {
  display: inline-block;
  font-size: 24px;
  line-height: 31px;
}
@media screen and (max-width: 1440px) {
  .main_about_ps {
    font-size: 20px;
    line-height: 27px;
  }
}

.main_events {
  position: relative;
  width: 100%;
  margin-top: 120px;
}
.main_events_letter {
  position: absolute;
  display: block;
  font-size: 764px;
  top: -120px;
  left: -8vw;
  color: rgba(0, 0, 0, 0.03);
}
@media screen and (max-width: 1440px) {
  .main_events_letter {
    font-size: 664px;
    top: -110px;
  }
}
.main_events_title {
  position: relative;
  width: 100%;
  font-size: 36px;
  margin-top: 30px;
}
.main_events_wrapper {
  padding-top: 45px;
}
.main_events_viewer {
  position: relative;
  display: flex;
  margin-top: 25px;
}
.main_events_viewer_image {
  width: 85px;
  margin-right: 10%;
}
@media screen and (max-width: 1440px) {
  .main_events_viewer_image {
    width: 65px;
  }
}
.main_events_viewer_image img {
  width: 100%;
}
.main_events_viewer_text {
  display: block;
  width: calc(90% - 85px);
}
@media screen and (max-width: 1440px) {
  .main_events_viewer_text {
    width: calc(90% - 65px);
  }
}
.main_events_viewer_title {
  font-size: 24px;
  line-height: 31px;
}
@media screen and (max-width: 1440px) {
  .main_events_viewer_title {
    font-size: 22px;
    line-height: 29px;
  }
}
.main_events_viewer_date {
  position: relative;
  display: block;
  margin-top: 5px;
}
.main_events_viewer_date p {
  font-size: 16px;
  color: #656565;
}
.main_events_viewer_date p span {
  color: #B5B5B5;
}
@media screen and (max-width: 1440px) {
  .main_events_viewer_date p span {
    font-size: 14px;
  }
}
.main_events_viewer_status {
  position: absolute;
  display: inline-block;
  width: auto;
  top: 0;
  right: 10%;
  font-size: 16px;
  color: #3AD235;
}
@media screen and (max-width: 1440px) {
  .main_events_viewer_status {
    font-size: 14px;
  }
}
.main_events .row .col-lg-3:last-child {
  margin-left: 30px;
}
.main_events_box {
  position: relative;
  display: block;
  margin-top: 70px;
}
.main_events_box_image {
  width: 100%;
}
.main_events_box_image img {
  width: 100%;
}
.main_events_box_wrapper {
  position: absolute;
  display: block;
  width: 100%;
  left: 30px;
  top: calc(100% - 45px);
  background-color: #1EC8FF;
  text-decoration: none;
}
.main_events_box_title {
  display: block;
  width: 80%;
  font-size: 18px;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 1440px) {
  .main_events_box_title {
    font-size: 16px;
  }
}
.main_events_box_text {
  display: block;
  width: 80%;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 1440px) {
  .main_events_box_text {
    font-size: 13px;
    line-height: 22px;
  }
}
.main_events_box_date {
  position: absolute;
  display: block;
  left: 15px;
  bottom: -25px;
}
.main_events_box_date p {
  font-size: 16px;
  color: #656565;
}
.main_events_box_date p span {
  color: #B5B5B5;
}
@media screen and (max-width: 1440px) {
  .main_events_box_date p span {
    font-size: 14px;
  }
}
.main_events_box_btn {
  position: absolute;
  display: block;
  width: 20px;
  top: calc(50% - 20px);
  right: calc(10% - 10px);
}
.main_events_box_btn img {
  width: 100%;
}
.main_events_btn {
  position: absolute;
  bottom: -10%;
  right: 5vw;
}
@media screen and (max-width: 1440px) {
  .main_events_btn {
    bottom: -8%;
  }
}
@media screen and (max-width: 1280px) {
  .main_events_btn {
    bottom: -6%;
  }
}

.main_consultation {
  position: relative;
  width: 100%;
  margin-top: 170px;
}
.main_consultation_text {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 23px;
  margin-top: 15px;
}
@media screen and (max-width: 1440px) {
  .main_consultation_text {
    font-size: 14px;
    line-height: 21px;
  }
}
.main_consultation_text:after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 100%;
  top: 0;
  left: -30px;
  background-color: #EFEDEA;
}
.main_consultation_ps {
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: #1EC8FF;
  padding: 30px 0;
  margin-top: 50px;
  z-index: 1;
}
@media screen and (max-width: 1440px) {
  .main_consultation_ps {
    font-size: 14px;
    line-height: 21px;
  }
}
.main_consultation_ps p {
  position: relative;
  z-index: 1;
}
.main_consultation_ps .filter {
  position: absolute;
  display: block;
  width: 95vw;
  height: 100%;
  top: 0;
  left: -7vw;
  background-color: #1EC8FF;
  z-index: 0;
  box-shadow: -5px 3px 20px rgba(0, 0, 0, 0.16);
}
.main_consultation_lang {
  position: relative;
  width: 100%;
  background-color: #1EC8FF;
  margin-top: 15px;
  padding: 15px 30px;
  box-shadow: -5px 3px 20px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
.main_consultation_lang li {
  position: relative;
  font-size: 32px;
  color: #ffffff;
  margin: 10px 0 10px 60px;
}
@media screen and (max-width: 1440px) {
  .main_consultation_lang li {
    font-size: 24px;
  }
}
@media screen and (max-width: 1280px) {
  .main_consultation_lang li {
    font-size: 22px;
  }
}
.main_consultation_lang li:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: calc(50% - 1px);
  left: -60px;
  background-color: #ffffff;
}
.main_consultation_map {
  position: absolute;
  width: 130%;
  top: -50%;
  left: -25%;
}
@media screen and (max-width: 1440px) {
  .main_consultation_map {
    top: -35%;
  }
}
.main_consultation_map img {
  width: 100%;
}
.main_consultation_globus {
  position: absolute;
  width: 100%;
  top: -90%;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 1440px) {
  .main_consultation_globus {
    top: -70%;
  }
}
@media screen and (max-width: 1280px) {
  .main_consultation_globus {
    top: -50%;
  }
}
.main_consultation_globus img {
  width: 100%;
}

.footer {
  position: relative;
  width: 100%;
  height: 13vh;
  background-color: #EFEDEA;
  overflow: hidden;
  margin-top: 150px;
}
.footer_wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  height: 13vh;
}
.footer_menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 21px;
}
.footer_menu li {
  margin-right: 30px;
}
.footer_menu a {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
.footer_logo {
  position: relative;
  text-decoration: none;
  margin-right: 30px;
  margin-bottom: 15px;
  color: #000000;
}
.footer_logo p {
  font-size: 18px;
}
.footer_logo p span {
  font-size: 80px;
}
.footer_social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  z-index: 3;
}
.footer_social li {
  width: 30px;
  margin: 0 12.5px 15px 12.5px;
}
@media screen and (max-width: 1440px) {
  .footer_social li {
    width: 25px;
  }
}
.footer_social li img {
  width: 100%;
}

.blur {
  position: relative;
  width: 100%;
  margin-top: 200px;
}
.blur_header {
  position: absolute;
  width: auto;
  top: -15%;
  left: 5vw;
  font-size: 300px;
}
@media screen and (max-width: 1440px) {
  .blur_header {
    font-size: 250px;
  }
}
.blur .container-fluid .blur_wrapper:last-child .row {
  filter: blur(8px);
}
.blur_wrapper {
  position: relative;
  width: 100%;
  margin-top: 80px;
}
.blur_wrapper:nth-child(2) .blur_number {
  position: absolute;
  width: 30px;
  top: 65%;
  left: 30px;
  font-size: 50px;
}
.blur_wrapper:nth-child(2) .blur_number:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 5px;
  left: -110%;
  background-color: #000000;
}
.blur_wrapper:last-child .blur_number {
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  font-size: 50px;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blur_title {
  font-size: 70px;
  margin-left: 5vw;
  margin-top: 80px;
}
@media screen and (max-width: 1440px) {
  .blur_title {
    font-size: 60px;
  }
}
.blur_text {
  font-size: 18px;
  line-height: 23px;
  margin-left: 5vw;
  margin-top: 50px;
}
@media screen and (max-width: 1440px) {
  .blur_text {
    font-size: 16px;
    line-height: 22px;
  }
}
.blur_btn {
  margin-left: calc(5vw + 15px);
  margin-top: 8vh;
}
.blur_image {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
.blur_image .filter {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.blur_image img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
