.captain_main
  position: relative
  width: 100%
  height: 100vh
  background-repeat: no-repeat
  -webkit-background-size: cover
  background-size: cover
  background-position: center
  @media screen and (max-height: 420px)
    height: auto
    min-height: 100vh
    padding-bottom: 30px
  &:after
    content: ''
    position: absolute
    display: block
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(255, 255, 255, 0.7)
    z-index: 0
  &_title
    position: relative
    font-size: 7.2rem
    color: $black
    margin-top: 35vh
    z-index: 10
    @extend .proxi-bold
    @media screen and (max-width: 1440px)
      margin-top: 25vh
    @media screen and (max-width: 768px)
      font-size: 50px
    @media screen and (max-width: 750px)
      font-size: 24px
    @media screen and (max-height: 420px)
      font-size: 36px
      margin-top: 130px
  &_text
    position: relative
    font-size: 2.4rem
    line-height: 29px
    color: $black
    margin-top: 55px
    z-index: 10
    @extend .proxi-bold
    @media screen and (max-width: 768px)
      font-size: 18px
      line-height: 22px
    @media screen and (max-width: 750px)
      font-size: 16px
      line-height: 20px
    @media screen and (max-height: 420px)
      margin-top: 15px
      font-size: 18px
      line-height: 20px
  &_btn
    position: relative
    display: block
    width: 100%
    height: 70px
    margin-top: 90px
    border: 1px solid $blue
    border-radius: 10px
    background-color: $blue
    color: $white
    font-size: 2.4rem
    line-height: 68px
    text-align: center
    cursor: pointer
    z-index: 20
    text-decoration: none
    @media screen and (max-width: 1440px)
      margin-top: 60px
    @media screen and (max-width: 750px)
      height: 50px
      line-height: 48px
      font-size: 18px
    @media screen and (max-height: 420px)
      height: 50px
      line-height: 48px
      font-size: 18px
      margin-top: 15px
  &_water
    position: absolute
    display: block
    width: 100%
    bottom: -11%
    left: 0
    -webkit-transform: rotate(180deg)
    -moz-transform: rotate(180deg)
    -ms-transform: rotate(180deg)
    -o-transform: rotate(180deg)
    transform: rotate(180deg)
    z-index: 1
    @media screen and (max-width: 768px)
      bottom: -5%
    @media screen and (max-width: 750px)
      bottom: -4%
    img
      width: 100%
      opacity: 0.76





.captain_service
  position: relative
  width: 100%
  margin-top: 120px
  @media screen and (max-width: 750px)
    margin-top: 80px
  &_image
    display: inline-block
    width: 100%
    margin-top: 30px
    @media screen and (max-width: 768px)
      max-height: 275px
    img
      width: 100%
      @media screen and (max-width: 768px)
        min-height: 275px
  &_text
    display: inline-block
    padding-top: 80px
    @media screen and (max-width: 1440px)
      padding-top: 50px
    @media screen and (max-width: 768px)
      padding-top: 10px
    p
      color: $grey
      font-size: 2.4rem
      line-height: 29px
      margin-top: 20px
      @extend .proxi-semi
      @media screen and (max-width: 768px)
        font-size: 18px
        line-height: 22px
      @media screen and (max-width: 750px)
        font-size: 16px
        line-height: 20px







.captain_certificates
  position: relative
  width: 100%
  padding-top: 120px
  @media screen and (max-width: 750px)
    padding-top: 80px
  &_card_wrapper
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
    padding-top: 30px
    @media screen and (max-width: 768px)
      display: inline-block
    @media screen and (max-height: 420px)
      display: inline-block
    .cardContainer
      width: calc(20% - 12px)
      -webkit-transition: all .3s ease
      -moz-transition: all .3s ease
      -ms-transition: all .3s ease
      transition: all .3s ease
      @media screen and (max-width: 768px)
        width: calc(50% - 12px)
        display: inline-block
        margin-top: 30px
      @media screen and (max-width: 750px)
        width: 100%
      @media screen and (max-height: 420px)
        width: calc(50% - 12px)
        display: inline-block
        margin-top: 30px



      /*depth of the elements */
      -webkit-perspective: 800px
      -moz-perspective: 800px
      -o-perspective: 800px
      perspective: 800px

      /*border: 1px solid #ff0000;*/
      padding-left: 1%
    .card
      position: relative
      display: inline-block
      width: 100%
      height: 35vh
      background-color: $blue
      border-radius: 20px
      cursor: pointer
      -webkit-transition: -webkit-transform 0.6s
      -moz-transition: -moz-transform 0.6s
      -o-transition: -o-transform 0.6s
      transition: transform 0.6s
      -webkit-transform-style: preserve-3d
      -moz-transform-style: preserve-3d
      -o-transform-style: preserve-3d
      transform-style: preserve-3d
      @media screen and (max-width: 1440px)
        height: 50vh
        min-height: 485px
      @media screen and (max-width: 1280px)
        height: 40vh
        min-height: 405px
      @media screen and (max-width: 768px)
        height: 20vh
        min-height: 320px
      @media screen and (max-height: 420px)
        height: 20vh
        min-height: 320px
      .front_title
        font-size: 3.2rem
        @extend .proxi-semi
        color: $white
        padding-top: 25px
        padding-left: 25px
        padding-right: 25px
      .back_title
        font-size: 1.8rem
        line-height: 20px
        @extend .proxi-bold
        color: $white
        padding-top: 25px
        padding-left: 20px
        padding-right: 20px
        @media screen and (max-width: 768px)
          font-size: 16px
        @media screen and (max-height: 420px)
          font-size: 16px
      .back_text
        font-size: 1.6rem
        line-height: 20px
        @extend .proxi-reg
        color: $white
        padding-top: 30px
        @media screen and (max-width: 1440px)
          padding-top: 20px
        p
          padding-left: 20px
          padding-right: 20px
          padding-bottom: 20px
          @media screen and (max-width: 1440px)
            padding-bottom: 15px
        b
          @extend .proxi-semi
          display: block
      &_image
        position: absolute
        display: block
        width: 100px
        right: 20px
        bottom: 20px
        @media screen and (max-width: 1440px)
          width: 80px
        img
          width: 100%
    .card.flipped
      -webkit-transform: rotateY( 180deg )
      -moz-transform: rotateY( 180deg )
      -o-transform: rotateY( 180deg )
      transform: rotateY( 180deg )
    .card .front,
    .card .back
      display: block
      height: 100%
      width: 100%
      position: absolute
      border-radius: 20px
      -webkit-backface-visibility: hidden
      -moz-backface-visibility: hidden
      -o-backface-visibility: hidden
      backface-visibility: hidden
      box-shadow: 10px 10px 15px rgba(75, 205, 255, 0.3)
      -webkit-box-shadow: 10px 10px 15px rgba(75, 205, 255, 0.3)
    .card .back
      width: 100%
      background-color: $blue
      -webkit-transform: rotateY( 180deg )
      -moz-transform: rotateY( 180deg )
      -o-transform: rotateY( 180deg )
      transform: rotateY( 180deg )



.captain_training
  position: relative
  width: 100%
  padding-top: 120px
  @media screen and (max-width: 768px)
    overflow: hidden
  @media screen and (max-width: 750px)
    padding-top: 80px
  &_image
    position: relative
    display: block
    overflow: hidden
    min-height: 400px
    margin-top: 30px
    img
      max-height: 400px
      @media screen and (max-width: 1440px)
        max-height: 450px
        margin-left: -25%
  &_text
    position: relative
    display: inline-block
    padding-top: 60px
    p
      color: $grey
      font-size: 2.4rem
      line-height: 29px
      @extend .proxi-semi
      @media screen and (max-width: 768px)
        font-size: 18px
        line-height: 22px
      @media screen and (max-width: 750px)
        font-size: 16px
        line-height: 20px
    img
      width: 100%
      margin-top: 20px
      @media screen and (max-width: 768px)
        width: 150%
        margin-left: -25%
  &_btn
    position: relative
    display: block
    width: 100%
    height: 100px
    margin-top: 70px
    border: 1px solid $blue
    border-radius: 10px
    background-color: $blue
    color: $white
    font-size: 2.4rem
    line-height: 98px
    text-align: center
    @media screen and (max-width: 768px)
      font-size: 16px
      height: 80px
      line-height: 78px
      margin-top: 30px
    @media screen and (max-width: 750px)
      line-height: 20px
      padding-top: 15px





.captain_location
  position: relative
  width: 100%
  margin-top: 120px
  @media screen and (max-width: 768px)
    //overflow: hidden
    margin-top: 0
    padding-top: 120px
  @media screen and (max-width: 750px)
    padding-top: 80px
  @media screen and (max-height: 420px)
    margin-top: 0
    padding-top: 80px
  &_wrapper
    position: relative
    width: 100%
    @media screen and (max-width: 768px)
      height: auto
    @media screen and (max-height: 420px)
      height: auto
    .captain_location_help
      position: absolute
      display: block
      width: 290px
      height: auto
      right: -80px
      bottom: -80px
      z-index: 10
      @media screen and (max-width: 768px)
        width: 170px
        right: -60px
        bottom: -40px
        z-index: 15
      @media screen and (max-width: 750px)
        right: -30%
      @media screen and (max-height: 420px)
        width: 170px
        right: -25%
        bottom: -40px
        z-index: 15
      img
        width: 100%
  &_color_wrapper
    position: relative
    width: 100%
    min-height: 350px
    margin-top: 50px
    @media screen and (max-width: 768px)
      position: absolute
      display: block
      min-height: 200px
      margin-top: 0
      top: -145px
    @media screen and (max-height: 420px)
      position: absolute
      display: block
      min-height: 200px
      margin-top: 0
      top: -145px
    &_light
      position: absolute
      display: block
      width: 200%
      height: 145px
      right: 0
      top: 90px
      z-index: 1
      background-color: rgba(75, 205, 255, 0.15)
      @media screen and (max-width: 768px)
        height: 65px
        right: -50%
      @media screen and (max-height: 420px)
        height: 65px
        right: -50%
    &_image
      position: absolute
      display: block
      width: auto
      height: 270px
      left: 18%
      top: 70px
      z-index: 3
      @media screen and (max-width: 768px)
        height: 170px
        left: 0
      @media screen and (max-width: 750px)
        height: 130px
        top: 80px
        left: auto
        right: -25px
      @media screen and (max-height: 420px)
        height: 130px
        top: 80px
        left: auto
        right: -25px
      img
        height: 110%
        @media screen and (max-width: 1440px)
          height: 100%
  &_list
    position: relative
    width: 100%
    height: auto
    background-color: $blue
    margin-top: 75px
    border-radius: 20px 0 0 20px
    @media screen and (max-width: 768px)
      margin-top: 90px
      width: 70%
      border-radius: 20px
      height: 900px
    @media screen and (max-width: 750px)
      margin-top: 50px
      width: 100%
      height: 600px
    @media screen and (max-height: 420px)
      position: relative
      border-radius: 20px
      margin-top: 50px
      width: 100%
      height: 600px
    ul
      display: inline-block
      width: 80%
      margin-left: 10%
      padding-top: 25px
      padding-bottom: 25px
      li
        font-size: 2.4rem
        line-height: 29px
        color: $white
    &_active
      text-decoration: underline
  &_map
    position: relative
    width: 100%
    overflow: hidden
    max-height: 649px
    margin-top: 50px
    @media screen and (max-width: 1440px)
      max-height: 678px
    @media screen and (max-width: 768px)
      position: absolute
      display: block
      width: 150%
      top: -740px
      left: -25%
      max-height: 665px
      z-index: 10
    @media screen and (max-height: 420px)
      position: absolute
      display: block
      width: 150%
      top: -440px
      left: -25%
      max-height: 365px
      z-index: 10
    @media screen and (max-width: 750px)
      max-height: 365px
      top: -440px
    .map_img
      min-width: 100%
      min-height: 649px
      @media screen and (max-width: 1440px)
        min-height: 678px
      @media screen and (max-width: 768px)
        min-height: 665px
      @media screen and (max-width: 750px)
        min-height: 365px
      @media screen and (max-height: 420px)
        min-height: 365px
