.nav_header
  position: fixed
  width: 100%
  height: 110px
  top: 0
  left: 0
  z-index: 200
  border-bottom: 1px solid $light-grey
  overflow: hidden
  @media screen and (max-width: 768px)
    height: 100px
  &_white
    background-color: $white
    opacity: 1
    transition: opacity 0.5s
  .filter
    position: absolute
    display: block
    width: 200%
    height: 200px
    top: -30px
    left: -50%
    filter: blur(60px)
    background-color: $white

  &_logo
    position: relative
    width: 100%
    height: 110px
    display: flex
    align-items: center
    text-decoration: none
    @media screen and (max-width: 768px)
      height: 100px
    img
      width: 100%
  &_list
    @media screen and (max-width: 768px)
      width: 100%
      height: 100px
      overflow: hidden
      position: relative
      cursor: pointer
      padding-right: 0
      margin: 0
      &:after
        content: ""
        display: block
        position: absolute
        width: 40px
        height: 22px
        top: 39px
        right: 0
        border-top: 3px solid $green
        border-bottom: 3px solid $green
        transition: all 0.5s
      &:before
        content: ""
        display: block
        position: absolute
        width: 40px
        height: 3px
        top: 48px
        right: 0
        background-color: $green
        transition: all 0.5s
    ul
      position: relative
      display: flex
      flex-direction: row
      justify-content: space-around
      align-items: center
      width: 100%
      height: 110px
      @media screen and (max-width: 768px)
        display: none
      .active_item_list
        position: relative
        width: auto
        &:before
          content: ''
          display: block
          position: absolute
          width: 100%
          height: 5px
          left: 0
          top: -45px
          background-color: $green
      li
        display: inline-block
        height: 20px
        color: $black
        @extend .proxi-semi
        font-size: 2rem
        cursor: pointer
        @media screen and (max-width: 768px)
          font-size: 16px
        a
          text-decoration: none
          color: $black
  &_burger_close
    &:after
      transform: rotate(45deg)
      border-top: none
      right: -7px
      top: 32px
      @media screen and (max-width: 768px)
        right: -10px
    &:before
      transform: rotate(-45deg)
      @media screen and (max-width: 768px)
        right: -3px
  &_tel
    display: flex
    width: 100%
    height: 110px
    align-items: center
    justify-content: right
    @media screen and (max-width: 768px)
      justify-content: center
      height: 100px
    p
      font-size: 18px
      @extend .proxi-semi
      color: $green
      @media screen and (max-width: 768px)
        font-size: 11px






.nav_header_mob
  display: none
  @media screen and (max-width: 768px)
    position: fixed
    display: block
    width: 100%
    height: 60px
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 200
  &_btn
    display: inline-block
    //color: $dark-blue
    font-size: 26px
    cursor: pointer
    padding: 8px 16px
    //background-color: $grey
    border-radius: 10px
    margin-top: 9px
    @media screen and (max-width: 750px)
      font-size: 16px
      margin-top: 14px
  &_burger
    width: 100%
    height: 60px
    overflow: hidden
    position: relative
    cursor: pointer
    padding-right: 0
    margin: 0
    &:after
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 22px
      top: 19px
      right: 0
      border-top: 3px solid $white
      border-bottom: 3px solid $white
    &:before
      content: ""
      display: block
      position: absolute
      width: 40px
      height: 3px
      top: 28px
      right: 0
      background-color: $white



.mob_nav_menu_list
  display: none
  @media screen and (max-width: 768px)
    position: fixed
    display: block
    width: 100%
    height: 0
    top: 0
    left: 0
    z-index: 400
    overflow: hidden
    opacity: 0
    background-color: $white
    &_active
      height: 50vh
      opacity: 1
      transition: opacity 0.5s
    &_wrapper
      position: relative
      width: 100%
      height: 50vh
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      li
        margin-bottom: 15px
        a
          text-decoration: none
          //color: $dark-blue
          font-size: 30px
  .active_item_list
    position: relative
    width: auto
    &:before
      content: ''
      display: block
      position: absolute
      width: 100%
      height: 2px
      left: 0
      bottom: -5px
      //background-color: $dark-blue
  .mob_nav_menu_list_close
    position: absolute
    display: block
    width: 18px
    height: 18px
    top: 20px
    right: 20px
    z-index: 220
    cursor: pointer
    img
      width: 100%