.about
  position: relative
  width: 100%
  margin-top: 120px
  @media screen and (max-width: 750px)
    margin-top: 80px
  &_image_wrapper
    position: relative
    width: 100%
    min-height: 250px
    height: auto
    margin-top: 50px
    @media screen and (max-width: 768px)
      min-height: 200px
  &_image
    width: 100%
    @media screen and (max-width: 768px)
      min-height: 250px
    @media screen and (max-height: 375px)
      min-height: 250px

  &_image_first_decor
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 70px
    height: calc(100% - 100px)
    top: 50px
    left: 0
    background-color: $blue
    box-shadow: -10px 10px 15px rgba(75, 205, 255, 0.3)
    @media screen and (max-width: 768px)
      width: 40px
      left: -20px
      top: 10px
    @media screen and (max-height: 375px)
      width: 40px
      left: -20px
      top: 10px
    img
      height: 70%
  &_image_second_decor
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 33%
    height: 100px
    bottom: -50px
    right: 0
    background-color: $blue
    box-shadow: -10px 10px 15px rgba(75, 205, 255, 0.3)
    @media screen and (max-width: 1440px)
      height: 80px
      bottom: -40px
    @media screen and (max-width: 768px)
      height: 50px
      bottom: -25px
    @media screen and (max-height: 375px)
      height: 50px
      bottom: -25px
    img
      width: 60%
  &_image_third_decor
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 500px
    height: auto
    bottom: -10%
    left: 20%
    @media screen and (max-width: 1440px)
      width: 400px
      bottom: -30%
    @media screen and (max-width: 768px)
      width: 255px
      bottom: 10%
    @media screen and (max-height: 375px)
      width: 255px
      bottom: 10%
    img
      width: 100%
  &_image_forth_decor
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 40%
    height: auto
    top: -15%
    left: -5px
    @media screen and (max-width: 768px)
      top: -10%
    img
      width: 100%
  &_image_fifth_decor
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 250px
    height: auto
    bottom: -50px
    right: -70px
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)
    @media screen and (max-width: 1440px)
      width: 200px
    @media screen and (max-width: 768px)
      width: 150px
      bottom: -40px
      right: -50px
    @media screen and (max-height: 375px)
      width: 150px
      bottom: -40px
      right: -50px
    img
      width: 100%

  &_text
    width: 100%
    color: $grey
    font-size: 2.4rem
    line-height: 29px
    margin-top: 115px
    @extend .proxi-semi
    @media screen and (max-width: 768px)
      margin-top: 50px
      font-size: 18px
      line-height: 22px
    @media screen and (max-width: 750px)
      font-size: 16px
      line-height: 20px
    @media screen and (max-height: 375px)
      margin-top: 65px
    b
      display: block
      margin-top: 30px
      @extend .proxi-bold