.services
  position: relative
  width: 100%
  margin-top: 120px
  @media screen and (max-width: 750px)
    margin-top: 50px
  &_decor_image_wrapper
    position: relative
    width: 100%
    z-index: 10
  &_decor_image
    position: absolute
    display: block
    width: 170px
    height: auto
    top: 0
    right: 4%
    z-index: 15
    @media screen and (max-width: 768px)
      width: 70px
      right: -2%
      top: 8%
    @media screen and (max-width: 750px)
      top: auto
      bottom: 25%
    @media screen and (max-height: 375px)
      width: 120px
      right: -60px
    img
      width: 100%
  &_card
    position: relative
    width: 100%
    margin-top: 55px
    border-radius: 20px
    overflow: hidden
    background-color: $white
    box-shadow: 0 50px 30px rgba(0, 0, 0, 0.1)
    -webkit-transition: margin-top 0.6s
    -moz-transition: margin-top 0.6s
    -ms-transition: margin-top 0.6s
    -o-transition: margin-top 0.6s
    transition: margin-top 0.6s
    &:hover
      margin-top: 35px
    &_image
      position: relative
      width: 100%
      height: 500px
      @media screen and (max-width: 768px)
        height: 215px
      @media screen and (max-width: 750px)
        min-width: 100%
      @media screen and (max-height: 375px)
        height: 250px
      &:after
        content: ''
        position: absolute
        display: block
        width: 100%
        height: 100%
        top: 0
        left: 0
        filter: blur(50px)
        z-index: -10
      img
        position: absolute
        display: block
        max-height: 500px
        min-height: 500px
        top: 0
        left: -25%
        filter: blur(0.5px) brightness(85%)
        @media screen and (max-width: 768px)
          max-height: 215px
          min-height: 215px
        @media screen and (max-width: 750px)
          width: 100%
          min-height: auto
          left: 0
        @media screen and (max-height: 375px)
          max-height: 250px
          min-height: 250px
      &_title
        position: absolute
        width: calc(100% - 60px)
        left: 30px
        bottom: 25px
        font-size: 4.1rem
        line-height: 50px
        color: $white
        @media screen and (max-width: 1440px)
          line-height: 40px
        @media screen and (max-width: 768px)
          font-size: 16px
          line-height: 20px
          left: 15px
        @media screen and (max-height: 375px)
          font-size: 24px
          line-height: 28px
        b
          @extend .proxi-bold
    &_text
      display: flex
      align-items: center
      height: 15vh
      @media screen and (max-width: 768px)
        height: 12vh
        min-height: 120px
      @media screen and (max-height: 375px)
        min-height: 130px
      p
        font-size: 2.4rem
        color: $black
        margin-left: 15px
        margin-right: 15px
        @extend .proxi-bold
        @media screen and (max-width: 768px)
          font-size: 14px
          line-height: 17px