.popup_nav_menu
  position: relative
  width: 100%
  height: 0
  margin-top: 100px
  background-color: $white
  border-radius: 0 0 40% 100%
  display: none
  @media screen and (max-width: 768px)
    position: fixed
    display: block
    height: 0
    top: 0
    left: 0
    z-index: 400
    overflow: hidden
    opacity: 0
    transition: opacity 0.5s
  @media screen and (max-width: 750px)
    border-radius: 0
  &_active
    height: calc(80vh - 100px)
    opacity: 1
    transition: opacity 0.5s
    @media screen and (max-width: 750px)
      height: calc(100vh - 100px)
  .popup_list_active
    position: relative
    width: auto
    &:before
      content: ''
      display: block
      position: absolute
      width: 100%
      height: 3px
      left: 0
      bottom: -5px
      background-color: $green
  &_list
    ul
      position: relative
      width: 100%
      height: auto
      display: flex
      flex-direction: column
      li
        margin-top: 60px
        @media screen and (max-width: 750px)
          margin-top: 40px
        a
          @extend .proxi-semi
          text-decoration: none
          color: $black
          font-size: 20px
  &_social
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 100%
    height: auto
    margin-top: 20vh
    &_block
      width: 30px
      height: 30px
      text-decoration: none
      img
        max-height: 30px
        max-width: 30px
        @media screen and (max-width: 768px)
          width: 30px
      .popup_nav_menu_close
        position: absolute
        display: block
        width: 30px
        height: 30px
        top: 20px
        right: 20px
        z-index: 220
        cursor: pointer
        &:after
          content: url('../img/linep.png')
          position: absolute
          display: block
          width: 30px
          height: 30px
          top: 0
          left: 0
        &:before
          content: url('../img/linep1.png')
          position: absolute
          display: block
          width: 30px
          height: 30px
          top: 0
          left: 0






.popup_form
  position: fixed
  display: block
  width: 100%
  height: 0
  top: 0
  left: 0
  z-index: 410
  overflow: hidden
  opacity: 0
  &_active
    height: 100vh
  &:before
    content: ''
    position: absolute
    display: block
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(255, 255, 255, 0.8)
  .container
    @media screen and (max-width: 750px)
      padding: 0
  &_wrapper
    position: relative
    width: 100%
    height: 80vh
    margin-top: 10vh
    overflow: hidden
    z-index: 1
    background-color: $white
    @media screen and (max-width: 1440px)
      margin-top: 70px
    @media screen and (max-width: 750px)
      height: 100vh
      margin-top: 0
    .popup_form_close
      position: absolute
      display: block
      width: 21px
      height: 21px
      top: 50px
      right: 50px
      z-index: 220
      cursor: pointer
      @media screen and (max-width: 750px)
        top: 20px
        right: 20px
      img
        width: 100%
  &_registration
    position: relative
    width: 100%
    height: auto
    background-color: white
    z-index: 1
    @media screen and (max-width: 750px)
      height: 100vh
    &_header
      text-align: center
      font-size: 100px
      @extend .proxi-semi
      color: $blue
      margin-top: 100px
      @media screen and (max-width: 1440px)
        font-size: 50px
        margin-top: 10%
      @media screen and (max-width: 750px)
        font-size: 40px
        margin-top: 15%
    &_form
      position: relative
      width: 100%
      margin-top: 10px
      @media screen and (max-width: 750px)
        width: 80%
        margin-left: 10%
      input
        width: 100%
        height: 50px
        font-size: 22px
        color: $blue
        margin-top: 10px
        border: none
        border-bottom: 2px solid rgba(75, 205, 255, 0.5)
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        text-indent: 10px
        outline: none
        @media screen and (max-width: 1440px)
          font-size: 18px
          height: 40px
      input::-moz-placeholder
        color: rgba(75, 205, 255, 0.5)
      input::-webkit-input-placeholder
        color: rgba(75, 205, 255, 0.5)
      input:-ms-input-placeholder
        color: rgba(75, 205, 255, 0.5)
      input::-ms-input-placeholder
        color: rgba(75, 205, 255, 0.5)
      input::placeholder
        color: rgba(75, 205, 255, 0.5)
      input:focus::placeholder
        color: rgba(75, 205, 255, 1)
        outline: none
      select
        width: 100%
        height: 50px
        font-size: 22px
        color: $blue
        margin-top: 10px
        border: none
        border-bottom: 2px solid rgba(75, 205, 255, 0.5)
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        text-indent: 10px
        outline: none
        background-image: url(../img/arrD.svg)
        background-repeat: no-repeat
        background-position: 95% center
        @media screen and (max-width: 1440px)
          font-size: 18px
          height: 40px
          text-indent: 4px
    &_btn
      display: block
      width: 80%
      height: 70px
      margin-left: 10%
      text-align: center
      font-size: 24px
      line-height: 68px
      color: $white
      border-radius: 10px
      background-color: $blue
      border: 1px solid $blue
      margin-top: 50px
      cursor: pointer
      @media screen and (max-width: 1440px)
        margin-top: 30px
        font-size: 18px
        height: 50px
        line-height: 48px
      @media screen and (max-width: 750px)
        width: 100%
        margin-left: 0