@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
.proxi-reg, .main_wrapper {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400; }

.proxi-bold, .section_header, .main_title, .services_card_image_title b, .services_card_text p, .about_text b {
  font-family: "ProximaNova", sans-serif;
  font-weight: 700; }

.proxi-semi, .nav_header_list ul li, .about_text {
  font-family: "ProximaNova", sans-serif;
  font-weight: 600; }

.proxi-semiit, .main_text_block p {
  font-family: "ProximaNova", sans-serif;
  font-weight: 600;
  font-style: italic; }

.proxi-black {
  font-family: "ProximaNova", sans-serif;
  font-weight: 900; }

html, body {
  font-size: 7px; }
  @media screen and (min-width: 1300px) {
    html, body {
      font-size: 8px; } }
  @media screen and (min-width: 1680px) {
    html, body {
      font-size: 10px; } }

.main_wrapper {
  overflow: hidden; }

@media screen and (min-width: 1680px) {
  .main_wrapper .container {
    max-width: 1680px; } }

.section_header {
  font-size: 10rem;
  color: #0D8940;
  text-align: center; }

.nav_header {
  position: fixed;
  width: 100%;
  height: 110px;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 200;
  border-bottom: 1px solid #DFDFDF; }
  @media screen and (max-width: 768px) {
    .nav_header {
      display: none; } }
  .nav_header_logo {
    position: relative;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center; }
    .nav_header_logo img {
      width: 100%; }
  .nav_header_list ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 110px; }
    .nav_header_list ul .active_item_list {
      position: relative;
      width: auto; }
      .nav_header_list ul .active_item_list:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
        top: -45px;
        background-color: #0D8940; }
    .nav_header_list ul li {
      display: inline-block;
      height: 20px;
      color: #000000;
      font-size: 2rem;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        .nav_header_list ul li {
          font-size: 16px; } }
      .nav_header_list ul li a {
        text-decoration: none;
        color: #000000; }

.nav_header_mob {
  display: none; }
  @media screen and (max-width: 768px) {
    .nav_header_mob {
      position: fixed;
      display: block;
      width: 100%;
      height: 60px;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 200; } }
  .nav_header_mob_btn {
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 10px;
    margin-top: 9px; }
    @media screen and (max-width: 750px) {
      .nav_header_mob_btn {
        font-size: 16px;
        margin-top: 14px; } }
  .nav_header_mob_burger {
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding-right: 0;
    margin: 0; }
    .nav_header_mob_burger:after {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 22px;
      top: 19px;
      right: 0;
      border-top: 3px solid #ffffff;
      border-bottom: 3px solid #ffffff; }
    .nav_header_mob_burger:before {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 3px;
      top: 28px;
      right: 0;
      background-color: #ffffff; }

.mob_nav_menu_list {
  display: none; }
  @media screen and (max-width: 768px) {
    .mob_nav_menu_list {
      position: fixed;
      display: block;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      z-index: 400;
      overflow: hidden;
      opacity: 0;
      background-color: #ffffff; }
      .mob_nav_menu_list_active {
        height: 50vh; }
      .mob_nav_menu_list_wrapper {
        position: relative;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .mob_nav_menu_list_wrapper li {
          margin-bottom: 15px; }
          .mob_nav_menu_list_wrapper li a {
            text-decoration: none;
            font-size: 30px; } }
  .mob_nav_menu_list .active_item_list {
    position: relative;
    width: auto; }
    .mob_nav_menu_list .active_item_list:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -5px; }
  .mob_nav_menu_list .mob_nav_menu_list_close {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;
    z-index: 220;
    cursor: pointer; }
    .mob_nav_menu_list .mob_nav_menu_list_close img {
      width: 100%; }

.main {
  position: relative;
  width: 100%;
  height: 100vh; }
  .main_sub_title {
    font-size: 2.6rem;
    color: #DFDFDF;
    margin-top: 35vh;
    z-index: 1; }
    @media screen and (max-width: 1440px) {
      .main_sub_title {
        font-size: 3rem; } }
  .main_title {
    font-size: 7.2rem;
    margin-top: 40px;
    z-index: 1; }
    @media screen and (max-width: 1440px) {
      .main_title {
        font-size: 6rem; } }
    @media screen and (max-width: 1280px) {
      .main_title {
        font-size: 6.9rem;
        margin-top: 25px; } }
  .main_text_block {
    position: relative;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    z-index: 1; }
    @media screen and (max-width: 1280px) {
      .main_text_block {
        margin-top: 25px; } }
    .main_text_block p {
      display: inline-block;
      font-size: 3.6rem;
      color: #747474; }
  .main_water {
    position: absolute;
    display: block;
    width: 100%;
    bottom: -10%;
    left: 0;
    z-index: 0; }
    @media screen and (max-width: 1280px) {
      .main_water {
        bottom: -20%; } }
    .main_water img {
      width: 100%;
      opacity: 0.82; }

.services {
  position: relative;
  width: 100%;
  margin-top: 120px; }
  .services_decor_image_wrapper {
    position: relative;
    width: 100%;
    z-index: 10; }
  .services_decor_image {
    position: absolute;
    display: block;
    width: 170px;
    height: auto;
    top: 0;
    right: 4%; }
    .services_decor_image img {
      width: 100%; }
  .services_card {
    position: relative;
    width: 100%;
    margin-top: 55px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.1); }
    .services_card_image {
      position: relative;
      width: 100%;
      height: 500px; }
      .services_card_image:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        filter: blur(50px);
        z-index: -10; }
      .services_card_image img {
        position: absolute;
        display: block;
        max-height: 500px;
        min-height: 500px;
        top: 0;
        left: -25%; }
      .services_card_image_title {
        position: absolute;
        width: calc(100% - 60px);
        left: 30px;
        bottom: 25px;
        font-size: 4.1rem;
        line-height: 50px;
        color: #ffffff; }
    .services_card_text {
      display: flex;
      align-items: center;
      height: 15vh; }
      .services_card_text p {
        font-size: 2.4rem;
        color: #000000;
        margin-left: 15px;
        margin-right: 15px; }

.about {
  position: relative;
  width: 100%;
  margin-top: 120px; }
  .about_image_wrapper {
    position: relative;
    width: 100%;
    min-height: 250px;
    height: auto;
    margin-top: 50px; }
  .about_image {
    width: 100%; }
  .about_image_first_decor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: calc(100% - 100px);
    top: 50px;
    left: 0;
    background-color: #4BCDFF;
    box-shadow: -10px 10px 15px rgba(75, 205, 255, 0.3); }
  .about_image_second_decor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100px;
    bottom: -50px;
    right: 0;
    background-color: #4BCDFF;
    box-shadow: -10px 10px 15px rgba(75, 205, 255, 0.3); }
    .about_image_second_decor img {
      width: 100px; }
  .about_image_third_decor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    bottom: -10%;
    left: 20%; }
    .about_image_third_decor img {
      width: 100%; }
  .about_image_forth_decor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    bottom: -10%;
    left: 20%; }
    .about_image_forth_decor img {
      width: 100%; }
  .about_image_fifth_decor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    bottom: -32%;
    right: 0; }
    .about_image_fifth_decor img {
      width: 80%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .about_text {
    width: 100%;
    color: #747474;
    font-size: 2.4rem;
    line-height: 29px;
    margin-top: 115px; }
    .about_text b {
      display: block;
      margin-top: 30px; }

.location {
  position: relative;
  width: 100%;
  margin-top: 120px; }

.footer {
  position: relative;
  width: 100%;
  height: 150px;
  margin-top: 70px;
  background-color: #ffffff;
  border-top: 1px solid #DFDFDF; }
  @media screen and (max-width: 750px) {
    .footer {
      height: 265px; } }
  .footer_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px; }
    @media screen and (max-width: 750px) {
      .footer_logo {
        width: 100%;
        justify-content: center; } }
    .footer_logo img {
      width: 100%; }
      @media screen and (max-width: 750px) {
        .footer_logo img {
          width: 140px; } }
  .footer_menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px; }
    .footer_menu ul li {
      font-size: 2rem;
      color: #000000; }
      .footer_menu ul li a {
        color: #000000;
        text-decoration: none; }
  .footer_social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px; }
    @media screen and (max-width: 750px) {
      .footer_social {
        height: auto; } }
    .footer_social_block {
      width: 30px;
      height: 30px;
      text-decoration: none; }
      .footer_social_block img {
        max-height: 30px;
        max-width: 30px; }
        @media screen and (max-width: 768px) {
          .footer_social_block img {
            width: 30px; } }

/*# sourceMappingURL=style.css.map */
